{# arguments:
	- main_menu : the main menu
	- can_update : the user can update
	- is_debug_active : the debug mode is active
	- username : the username
	- root_doc : the root document
	- noAUTO : the noAUTO
#}

<header role='banner' id='header_top' class='d-flex justify-content-between align-items-center'>
	<div class="header_logo m-3" id='c_logo'>
		<a href="{{root_doc}}/" accesskey='1' title={{"Home"|trans}}>
			<span class='sr-only'>{{"Home"|trans}}</span>
		</a>
	</div>

	{% if main_menu.args.access == 'central' %}
		<div id="searchbar">
			<form aria-label="Search" role="search" method="get" action="{{root_doc}}/front/search.php">
				<input type="search" name="globalsearch" placeholder="{{"Search"|trans}}...">
				<button type="submit" aria-label="Search" class="btn btn-link">
					<i class="fa fa-search" title="Research"></i>
				</button>
			</form>
		</div>
	{% endif %}

	<ul class='d-flex justify-content-around m-0 color-primary'>
		<li id='language_link' aria-label={{ 'Languages'|trans }} class='p-2'>
			<a href="{{root_doc}}/front/preference.php?forcetab=User$1" title={{'Language'|trans}} aria-label={{ 'Languages'|trans }}>
				<i class='fa fa-globe ' aria-hidden="true"></i>
			</a>
		</li>

		{% if can_update %}
			<li id='debug_mode' class='p-2'>
				<a href='{{root_doc}}/ajax/switchdebug.php' class="debug{{is_debug_active ? 'on' : 'off'}}" title="{{'Change mode'|trans}} {{is_debug_active ? 'Debug mode enabled'|trans : 'Debug mode disabled'|trans}}">
					<i class='fa fa-bug' aria-hidden="true"></i>
					<span class='sr-only'>{{'Change mode'|trans}}</span>
				</a>
			</li>
		{% endif %}
		<li id='menu-options' class="dropdown p-2">
			<a title={{'Options'|trans}} data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-sort-amount-down"></i>
			</a>
			{% include "nav/nav-settings.twig" %}
		</li>
		<li id='menu-options' class="dropdown p-2">
			<a title={{'Help'|trans}} href="https://www.itsm-ng.org">
				<i class="fas fa-question"></i>
			</a>
		</li>
		<li id='preferences_link' class='p-2'>
			<a href='{{root_doc}}/front/preference.php' title="{{'My settings'|trans}} - {{username}}">
				<i class='fa fa-cog' aria-hidden="true"></i>
				<span class='sr-only'>{{'My settings'|trans}}</span>
				{% if username %}
					<span id='myname test-info'>{{username}}</span>
				{% endif %}
			</a>
		</li>

		<li id='deconnexion' class='p-2'>
			<a href="{{root_doc}}/front/logout.php{{noAUTO ? '?noAUTO=1'}}" title={{'Logout'|trans}}>
				<i class='fa fa-sign-out-alt' aria-hidden="true"></i>
				<span class='sr-only'>{{'Logout'|trans}}></span>
			</a>
		</li>
	</ul>
</header>
