{% from "macros.twig" import table %}

{% if menu_width is empty %}

	<body {% if body_class is not empty %} class={{body_class}} {% endif %} style="width: 100%;">

	{% else %}

		<body class={{body_class}} style="--nav-open-width: {{menu_width['menu-open']}}; --nav-close-width: {{menu_width['menu-close']}}; --menu-count: {{menu|length}}; --bubble_pos_x: {{bubble_pos.x}}; --bubble_pos_y: {{bubble_pos.y}};">
		{% endif %}
		{% if impersonate_banner is defined %}
			{% include impersonate_banner.path with impersonate_banner.args%}
		{% endif %}

        {% include "headers/utils/accessibility_buttons.twig" %}

		<header role='banner' id='header_top' class='d-flex justify-content-between align-items-center'>
			<div class="header_logo m-3 d-md-block d-none" id='c_logo'>
				<a href="{{root_doc}}/front/central.php" accesskey='1' title={{"Home"|trans}}>
					<span class='sr-only'>{{"Home"|trans}}</span>
				</a>
			</div>
            <button class="navbar-toggler d-md-none p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#navOffCanvas" aria-controls="navbar" aria-label= "{{'Toggle navigation' | trans}}">
                <i class="fa fa-bars fa-2x" title="menu" aria-hidden="true"></i>
            </button>

			{% if main_menu.args.access == 'central' %}
				<div id="searchbar">
					<form aria-label="{{"Search"|trans}}" role="search" method="get" action="{{root_doc}}/front/search.php">
						<button type="button" id="search-icon" class="btn btn-link" aria-label="{{'Search'|trans}}">
							<i class="fa fa-search" title="{{"Search"|trans}}"></i>
						</button>
						<input type="search" name="globalsearch" aria-label="Valider" placeholder="{{"Search"|trans}}..." id="search-input">
					</form>
				</div>

			{% endif %}

			<div class="d-flex justify-content-start align-items-center">
				<ul class="list-unstyled d-flex justify-content-around m-0">
					<li id="language_link" aria-label={{ 'Languages'|trans }} class="p-2">
						<a href="{{root_doc}}/front/preference.php?forcetab=User$1" title={{'Language'|trans}} aria-label={{ 'Languages'|trans }} >
							<i class="fas fa-language" aria-label="{{ 'Languages'|trans }}"></i>
						</a>
					</li>
					<li id="menu-options" class="p-2 d-md-flex d-none">
						<a href="#" title="{{'Navbar'|trans }}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="{{'Navbar'|trans }}">
							<i class="far fa-window-maximize"></i>
						</a>
						{% include "nav/nav-settings.twig" %}
					</li>
                    <li id='bookmark_link' class="p-2">
                        <a href='#' id='showSavedSearchesLink' title='{{'Load a saved search'|trans}}' aria-label='{{'Load a saved search'|trans}}'>
                            <i class="fas fa-star" aria-label="{{'Saved searches'|trans}}"></i>
                        </a>
                    </li>
				</ul>

				<div class="dropdown">
					<button class="btn me-1 text-light" aria-label="Menu" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-h" title="menu"></i>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% if can_update %}
						<li id="debug_mode" class="dropdown-item">
							<a href="{{root_doc}}/ajax/switchdebug.php" class="debug{{is_debug_active ? 'on' : 'off'}}" title="{{'Change mode'|trans}} {{is_debug_active ? 'Debug mode enabled'|trans : 'Debug mode disabled'|trans}}">
								<i class="fas fa-bug" aria-hidden="true" aria-hidden="true"></i>
								{{'Debug'|trans}}
							</a>
						</li>
						{% endif %}
						<li id="preferences_link" class="dropdown-item">
							<a href="{{root_doc}}/front/preference.php" title="{{'My settings'|trans}} - {{username}}">
								<i class="fas fa-user" aria-hidden="true"></i>
								{% if username %}
									<span id="myname test-info">{{username}}</span>
								{% else %}
									Profile
								{% endif %}
							</a>
						</li>
						<li id="menu-help" class="dropdown-item">

							<a href="{{help_link}}" title={{'Help'|trans}}>
								<i class="fas fa-question" aria-hidden="true"></i>
								{{'Help'|trans}}
							</a>
						</li>
						<li id="deconnexion" class="dropdown-item">
							<a href="{{root_doc}}/front/logout.php{{noAUTO ? '?noAUTO=1'}}" title={{'Logout'|trans}}>
								<i class="fas fa-sign-out-alt" aria-hidden="true"></i>
								{{'Logout'|trans}}
							</a>
						</li>
					</ul>
				</div>
			</div>

		</header>

		<div id="main-test" class="{{menu_position}}" data-root="{{root_doc}}">
            {% include main_menu.path with main_menu.args %}
			<div class="main-container flex-grow-1">
				<div id="subheader" class="d-flex justify-content-between items-center p-2">
					{% include "headers/utils/breadcrumb.twig" with { 'items': breadcrumb_items } %}
					<div class="d-flex flex-row-reverse align-items-center justify-content-evenly">
						{{profileSelect|raw}}
					</div>
					{% include "headers/utils/actions.twig" with {'links': links, 'root_doc':root_doc} %}
				</div>
				<main role='main' id='page'>


<script>
	document.getElementById('search-icon').addEventListener('click', function() {
		const searchBar = document.getElementById('searchbar');
		const searchInput = document.getElementById('search-input');

		if (searchBar.classList.contains('expanded')) {
			searchInput.blur();
			searchBar.classList.remove('expanded');
		} else {
			searchBar.classList.add('expanded');
			searchInput.focus();
		}
	});

	document.addEventListener('click', function(event) {
		const searchBar = document.getElementById('searchbar');
		const searchInput = document.getElementById('search-input');
		const searchIcon = document.getElementById('search-icon');

		if (!searchBar.contains(event.target) && !searchIcon.contains(event.target)) {
			searchBar.classList.remove('expanded');
			searchInput.blur();
		}
	});

</script>
