{% from "macros.twig" import table %}

{% if menu_width is empty %}

	<body class={{body_class}}>

	{% else %}

		<body class={{body_class}} style="--nav-open-width: {{menu_width['menu-open']}}; --nav-close-width: {{menu_width['menu-close']}}; --menu-count: {{menu|length}}; --bubble_pos_x: {{bubble_pos.x}}; --bubble_pos_y: {{bubble_pos.y}};">
		{% endif %}
		{% if impersonate_banner is defined %}
			{% include impersonate_banner.path with impersonate_banner.args%}
		{% endif %}

		<header role='banner' id='header_top' class='d-flex justify-content-between align-items-center'>
			<div class="header_logo m-3" id='c_logo'>
				<a href="{{root_doc}}/" accesskey='1' title={{"Home"|trans}}>
					<span class='sr-only'>{{"Home"|trans}}</span>
				</a>
			</div>

			{% if main_menu.args.access == 'central' %}
            <div id="searchbar">
                <form aria-label="search" role="search" method="get" action="{{root_doc}}/front/search.php">
                    <input type="search" name="globalsearch" aria-label="Search" placeholder="{{"Search"|trans}}...">
                    <button type="submit" class="btn btn-link">
                        <i class="fa fa-search" title="Search"></i>
                    </button>
                </form>
            </div>
			{% endif %}

			<div class="d-flex justify-content-start align-items-center">
				<ul class="list-unstyled d-flex justify-content-around m-0">
					<li id="language_link" class="p-2">
						<a href="{{root_doc}}/front/preference.php?forcetab=User$1" title={{'Language'|trans}}>
							<i class="fas fa-language" aria-hidden="true"></i>
						</a>
					</li>
					<li id="menu-options" class="p-2">
						<a href="#" title={{'Navbar'|trans}} data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="far fa-window-maximize" aria-hidden="true"></i>
						</a>
						{% include "nav/nav-settings.twig" %}
					</li>
				</ul>

				<div class="dropdown">
					<button class="btn me-1 text-light" aria-label="Menu" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fas fa-bars" title="menu"></i>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						{% if can_update %}
						<li id="debug_mode" class="dropdown-item">
							<a href="{{root_doc}}/ajax/switchdebug.php" class="debug{{is_debug_active ? 'on' : 'off'}}" title="{{'Change mode'|trans}} {{is_debug_active ? 'Debug mode enabled'|trans : 'Debug mode disabled'|trans}}">
								<i class="fas fa-bug" aria-hidden="true" aria-hidden="true"></i>
								Debug mode
							</a>
						</li>
						{% endif %}
						<li id="preferences_link" class="dropdown-item">
							<a href="{{root_doc}}/front/preference.php" title="{{'My settings'|trans}} - {{username}}">
								<i class="fas fa-user" aria-hidden="true"></i>
								{% if username %}
									<span id="myname test-info">{{username}}</span>
								{% else %}
									Profile
								{% endif %}
							</a>
						</li>
						<li id="menu-help" class="dropdown-item">
							
							<a href="https://www.itsm-ng.org" title={{'Help'|trans}}>
								<i class="fas fa-question" aria-hidden="true"></i>
								Help
							</a>
						</li>
						<li id="deconnexion" class="dropdown-item">
							<a href="{{root_doc}}/front/logout.php{{noAUTO ? '?noAUTO=1'}}" title={{'Logout'|trans}}>
								<i class="fas fa-sign-out-alt" aria-hidden="true"></i>
								Logout
							</a>
						</li>
					</ul>
				</div>
			</div>
			
		</header>

		{% if accessibilityMenu %}
			{% include "accessibilityMenu.twig" %}
		{% endif %}

		<div id="main-test" class="{{menu_position}}" data-root="{{root_doc}}">
			<nav id="menu" class="{{menu_small ? 'menu-close' : 'menu-open'}}">
				{% include main_menu.path with main_menu.args %}
				<div class="menu-bottom">
					<a class="copyright-message" href="https://www.itsm-ng.com" target="_blank" title="{{ITSM_VERSION}} Copyright (C) {{ITSM_YEAR}} ITSM-NG and contributors"></a>
				</div>
			</nav>
			<div class="main-container">
				<div id="subheader" class="d-flex justify-content-between p-2">
					{% include "headers/utils/breadcrumb.twig" with { 'items': breadcrumb_items } %}
					<div class="d-flex flex-row-reverse align-items-center justify-content-evenly">
						{{profileSelect|raw}}
					</div>
					{% include "headers/utils/actions.twig" with {'links': links, 'root_doc':root_doc} %}
				</div>
				<main role='main' id='page'>

					
