{% macro collapseChecklist(data, previous_padding = 0) %}
	<ul class="ps-{{previous_padding}}">
		{% for title, content in data %}
			<li class="d-flex flex-column justify-content-start">
				<div class="d-flex align-items-center input-group">
					{% if content.content %}
					<button type="button" class="btn btn-link dropdown-checkbox-toggle" data-bs-toggle="collapse" href="#list-for-{{title|slug}}" aria-expanded="false">
						<i class="fas fa-caret-right"></i>
					</button>
					{% endif %}
					{% if content.value %}<input type="checkbox" id="{{title}}_{{content.value}}" name="{{title}}_{{content.value}}" value="{{content.value}}"/>{% endif %}
					<label for="{{title}}_{{content.value}}" class="ms-3">{{title}}</label>
				</div>
            	{% if content.content %}
                    <div class="collapse" id="list-for-{{title|slug}}">
                        {{_self.collapseChecklist(content.content, previous_padding + 2)}}
                    </div>
                {% endif %}
			</li>
		{% endfor %}
	</ul>
	<script>
	// Check all children when parent is checked
	// if all children are checked, check parent
	$(document).ready(function() {
		$('input[type="checkbox"]').change(function() {
			if ($(this).is(':checked')) {
				$(this).parent().parent().find('input[type="checkbox"]').prop('checked', true);
			} else {
				$(this).parent().parent().find('input[type="checkbox"]').prop('checked', false);
			}
		});
	});
	
	
	</script>
{% endmacro %}
