{% macro select(attributes) %}
<select class='form-select' {% for name, value in attributes %} {% if name != 'values'%}{{name}}="{{value}}"{% endif %} {% endfor %}>
    {% for key, item in attributes.values %}
        <option value="{{key}}" {% if attributes.value == key %}selected="selected"{% endif %}>{{item}}</option>
    {% endfor %}
</select>
{% if attributes.searchable %}
<script>
    $(document).ready(function() {
        var select_box_element = document.querySelector('#{{attributes.id}}');
        dselect(select_box_element, {
        search: true
    });
    });
</script>
{% endif %}
{% endmacro %}

{% macro file(attributes, root_doc) %}
<input class='form-control h-100' {% for name, value in attributes %} {{name}}="{{value}}" {% endfor %}/>
<script>
$('#{{attributes.id}}').on('change', function() {
    let formData = new FormData();
    formData.append('name', 'filename');
    formData.append('showFileSize', $('#fileSelectorForDocument').prop('files').length);
    for (let i = 0; i < $('#fileSelectorForDocument').prop('files').length; i++) {
        formData.append(i, $('#fileSelectorForDocument').prop('files')[i]);
    }
    $.ajax({
    url: '{{root_doc}}' + '/ajax/fileupload.php',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(data) {
        // add an hidden input containing the data for all files
            if ($('#hiddenInputForFiles').length == 0) {
                $('#{{attributes.id}}').after('<input type="hidden" id="hiddenInputForFiles" name="files" value="">');
            }
            $('#hiddenInputForFiles').val(data);
        }
    });    
})
</script>
{% endmacro %}

{% macro input(attributes, root_doc = '') %}
    {% if attributes.type == 'checkbox' %}
<div class="form-switch">
    <input type="hidden" name="{{attributes.name}}" value="0">
    <input class='form-check-input' role="switch"
        {% for name, value in attributes|filter((v, k) => k != 'value')  %} {{name}}="{{value}}" {% endfor %} value="1"
        {% if attributes.value == 1 %} checked {% endif %}/>
</div>
    {% elseif attributes.type == 'textarea' %}
<textarea class='form-control' {% for name, value in attributes|filter(k,v => k != 'value') %} {{name}}="{{value}}" {% endfor %}>{{attributes.value|default("")|raw}}</textarea>
    {% elseif attributes.type == 'select' %}
{{_self.select(attributes)}}
    {% elseif attributes.type == 'twig' %}
{% include attributes.template with attributes only %}
    {% elseif attributes.type == 'file' %}
{{_self.file(attributes, root_doc)}}
    {% else %}
<input class='form-control' {% for name, value in attributes %} {{name}}="{{value}}" {% endfor %}/>
    {% endif %}
{% endmacro %}

{{_self.input(_context)}}