{% macro input(input, root_doc = '') %}
  {% if input.hooks and not input.id %}
    {% set input = input|merge({'id': random()}) %}
  {% endif %}
  {% set attributes = input|filter((v, k) => k not in ['hooks', 'init']) %}
  {% if attributes.type == 'checkbox' %}
    <div class="form-switch">
      {% if not attributes.no_zero %}
        <input type="hidden"  name="{{attributes.name}}" value="0" {% if attributes.class %} class="{{attributes.class}}" {% endif %}>
      {% endif %}
      <input role="switch" class='form-check-input {% if attributes.class %} {{attributes.class}} {% endif %}'
        {% for name, value in attributes|filter((v, k) => k != 'value') %}
          {{name}}="{{value}}" 
        {% endfor %}
        {% if attributes.name is defined %}
          aria-label="{{ attributes.name }}"
        {% endif %}
        value={{attributes.content|default(1)}}
        {% if attributes.value == 1 %} checked {% endif %}/>
    </div>
  {% elseif attributes.type == 'radio' %}
    <input class='form-check' 
      {% for name, value in attributes %}
        {{name}}="{{value}}" 
      {% endfor %}
      {% if attributes.name is defined %}
        aria-label="{{ attributes.name }}"
      {% endif %}/>
  {% elseif attributes.type == 'textarea' %}
    <textarea class='form-control' 
      {% for name, value in attributes|filter((v, k) => k != 'value') %}
        {{name}}="{{value}}" 
      {% endfor %}
      {% if attributes.name is defined %}
        aria-label="{{ attributes.name }}"
      {% endif %}>{{attributes.value|default("")|raw}}</textarea>
  {% elseif attributes.type == 'richtextarea' %}
    {% include 'macros/inputs/richtextarea.twig' %}
  {% elseif attributes.type == 'codeeditor' %}
    {% include 'macros/inputs/codeeditor.twig' %}
  {% elseif attributes.type == 'select' %}
    {% include 'macros/inputs/select.twig' %}
  {% elseif attributes.type == 'actorSelect' %}
    {% include 'macros/inputs/actorSelect.twig' %}
  {% elseif attributes.type == 'ticketSelect' %}
    {% include 'macros/inputs/ticketSelect.twig' %}
  {% elseif attributes.type == 'multiSelect' %}
    {% include 'macros/inputs/multiSelect.twig' %}
  {% elseif attributes.type == 'checklist' %}
    {% include 'macros/inputs/checklist.twig' %}
  {% elseif attributes.type == 'twig' %}
    {% include attributes.template with attributes only %}
  {% elseif attributes.type == 'file' %}
    {% include 'macros/inputs/file.twig' %}
  {% elseif attributes.type == 'imageUpload' %}
    {% include 'macros/inputs/imageUpload.twig' %}
  {% elseif attributes.type == 'datetime-local' %}
    {% include 'macros/inputs/datetime.twig' %}
  {% elseif attributes.type == 'password' %}
    {% include 'macros/inputs/password.twig' %}
  {% else %}
    <input class='form-control form-control-sm'
      {% for name, value in attributes %}
        {{name}}="{{value}}"
      {% endfor %}
      {% if attributes.name is defined %}
        aria-label="{{ attributes.name }}"
      {% endif %}/>
  {% endif %}
  {% if input.init is defined or (input.hooks is defined and input.hooks is not empty) %}
    <script>
      $(document).ready(() => {
        {% if input.init %}
          {{input.init|raw}}
        {% endif %}
        {% for hook, script in input.hooks %}
          $("#{{input.id}}").on("{{hook}}", function() {
            {{script|raw}}
          });
        {% endfor %}
      });
    </script>
  {% endif %}
{% endmacro %}
{{ _self.input(_context) }}
