{% macro wrappedInput(title, input, root_doc) %}
    {% import 'macros/input.twig' as inputMacro %}
    {% set options = ['actions', 'after', 'before', 'col', 'col_md', 'col_lg'] %}
    {% set attributes = input | filter((v, k) => k not in options) %}
    {% set id = input.id ? input.id : random() %}
    {% if input.type != 'hidden' and input|length > 0 %}
        <div class="
                col{{ input.col ? '-' ~ input.col : '-12' }}
                col-md{{ input.col_md ? '-' ~ input.col_md : '-6' }}
                col-lg{{ input.col_lg ? '-' ~ input.col_lg : '-4' }}
                text-start">
            {% if title|length > 0 %}
                <label for="{{id}}" class="form-label w-100">{{title|raw}}
            {% endif %}
            <div class="d-flex flex-nowrap w-100 align-items-center input-group my-1">
    {% endif %}
            {% if input.before %}
                <div class="input-group-text">
                    {{input.before|raw}}
                </div>
            {% endif %}
            {% if input.type %}
                {% set attributes = attributes|merge({'aria-label': input.name, 'id': id }) %}
                {{ inputMacro.input(attributes, root_doc) }}
            {% else %}
                {{ input.content|raw }}
            {% endif %}
            </label>
            {% if input.after %}
                <div class="input-group-text input-group-sm">
                    {{input.after|raw}}
                </div>
            {% endif %}
            {% for action in input.actions %}
                <button type="button" class="btn btn-sm border" aria-label="{{ action.info }}" onclick="{{action.onClick}}">
                    <a class="{{action.icon}}"></a>
                </button>
            {% endfor %}
    {% if input.type != 'hidden' and input|length > 0 %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
{{ _self.wrappedInput(title, input, root_doc) }}
