{% from "macros/input.twig" import input %}

<li class="{{meta is defined ? 'metacriteria' : 'normalcriteria'}} {{addclass}} mb-3 mx-auto" style="max-width: 800px;" id="{{rowid}}">
    <input id="is_deleted" type="hidden" name="is_deleted" value="{{is_deleted}}">
    <input id="as_map" type="hidden" name="as_map" value="{{as_map}}">
    <div class="input-container d-flex flex-row">
    <div class="input-group flex-wrap align-items-stretch w-100" data-search-container="{{spanid}}">
            {% if not from_meta %}
                <i class="far fa-minus-square remove-search-criteria input-group-text"
                    role="button"
                    data-rowid='{{rowid}}'
                    alt="-" title="{{"Delete a rule"|trans}}"></i>
            {% endif %}
            {% for attributes in inputs %}
                {% if attributes|length > 0 %}
                    {{ input(attributes) }}
                {% endif %}
            {% endfor %}
                {% if meta is defined %}
                    <span id="{{spanid}}" class="d-flex flex-wrap align-items-stretch flex-grow-1"></span>
                {% endif %}
        </div>
    </div>
</li>
