{% from "macros/input.twig" import input %}

<li class="{{meta is defined ? 'metacriteria' : 'normalcriteria'}} {{addclass}} mb-3 mx-auto" style="width: fit-content" id="{{rowid}}">
    <input id="is_deleted" type="hidden" name="is_deleted" value="{{is_deleted}}">
    <input id="as_map" type="hidden" name="as_map" value="{{as_map}}">
    <div class="input-container d-flex flex-row">
        <div class="input-group">
            {% if not from_meta %}
                <i class="far fa-minus-square remove-search-criteria input-group-text"
                    role="button"
                    data-rowid='{{rowid}}'
                    alt="-" title="{{"Delete a rule"|trans}}"></i>
            {% endif %}
            {% for attributes in inputs %}
                {% if attributes|length > 0 %}
                    {{ input(attributes) }}
                {% endif %}
            {% endfor %}
        </div>
        <span id="{{spanid}}"  class='d-flex me-auto'></span>
    </div>
</li>
