{% from 'macros.twig' import button, table %}


<h3>{{'Test of the connection at the database'|trans}}</h3>

{% if connect_error %}

<div class="text">
    <p>{{"Can't connect to the database"|trans}}</p>
    <p>{{'The server answered: %s'|trans|format(connect_error)}}:</p>
</div>
<div class="buttons">
    <form action='install.php?step=4' method='post'>
        {{button('submit', 'Back'|trans)}}
    </form>
</div>

{% else %}

<h3>{{'Database connection successful'|trans}}</h3>

    {% if ver_too_old %}

<p>{{'Your database engine version seems too old: %s.'|trans|format(version)}}</p>

    {% else %}

<p>{{"Database version seems correct (%s) - Perfect!"|trans|format(version)}}</p> 
<form action='install.php?step=6' method='post'>

        {% if action == 'install' %}
        
    <p>{{"Create a new database or use an existing one:"|trans}}</p>
    <input type="text" name="newdatabasename" autocomplete="off">
    <p>{{"Please select a database:"|trans}}</p>
        
        {% elseif action == 'update' %}
        
    <p>{{"Please select the database to update:"|trans}}</p>
        
        {% endif %}
    
    {% include 'table.twig' with {
        fields: {'name': 'name', 'table_count': 'table count', 'creation_date': 'creation date', 'last_update': 'last update'},
        values: databases,
        radio: 'database',
    } %}
    <div class="buttons">
        {{button('submit', 'Continue'|trans)}}
    </div>
</form>

    {% endif %}
{% endif %}