<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv='Content-Script-Type' content='text/javascript'> 
    <meta http-equiv='Content-Style-Type' content='text/css'> 
    {% for array in header_data %}
    {% for e in array %}
    {{e|raw}}
    {% endfor %}
    {% endfor %}    
    <title>Setup ITSM-NG</title>
</head>
<body>
    
    <div id='principal'>
        <div id='bloc'>
            <div id='logo_bloc'></div>
{% set steps = ['languages', 'license', 'install', 'requirement', 'login', 'databases', 'initialisation', 'done'] %}
{% set maxstep = 8 %}
{% set line_width = maxstep - step %}
<div class="progress">
    <div class="line" style={{'--w:' ~ line_width ~ ';--maxstep:' ~ maxstep ~ ';'}}></div>
{% for i in steps %}
    <div class="step">
        <a  href={{"install.php?step="~loop.index0}}
            title={{steps[loop.index0]|capitalize}}
            class={% if loop.index0 <= step %}"circle"{% else %}"circle hidden"{% endif %}
            style={{'--step:' ~ loop.index0 ~ ';--maxstep:' ~ maxstep ~ ';'}}
        >{{loop.index0}}</a>
        <p>{{steps[loop.index0]|capitalize}}</p>
    </div>
    
{% endfor %}


</div>
            {# <h3>
            {% if step == 'languages' %}
                {{'Select your language'|trans}}
            {% elseif step == 'license' %}
                {{'License'|trans}}
            {% elseif step == 'install' %}
                {{'Beginning of the installation'|trans}}
            {% elseif step == 'error' %}
                Error            
            {% else %}
                {{'Step'|trans}} {{step}} 
            {% endif %}  
            </h3> #}
            <div class="main">