<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv='Content-Script-Type' content='text/javascript'> 
    <meta http-equiv='Content-Style-Type' content='text/css'> 
{% for array in header_data[:-1] %}
    {% for e in array %}
    {{e|raw}}
    {% endfor %}
{% endfor %}    
    <title>{{"Setup"|trans}} ITSM-NG</title>
</head>
<body>
    <div id='principal'>
        <div id='bloc'>
            <div id='logo_bloc'></div>
            {% set maxstep = header_data["steps_name"][:-1]|length %}
            <div class="progress">
                <div class="line" style={{'--step:' ~ step ~ ';--maxstep:' ~ maxstep ~ ';'}}></div>
            {% for i in header_data["steps_name"][:-1] %}
                <div class="step">
                    <a  href={{"install.php?step="~loop.index0}}
                        title={{header_data["steps_name"][loop.index0]|capitalize}}
                        class={% if loop.index0 <= step %}"circle"{% else %}"circle hidden"{% endif %}
                        style={{'--step:' ~ loop.index0 ~ ';--maxstep:' ~ maxstep ~ ';'}}>
                    {{loop.index0}}
                    </a>
                    <p>{{header_data["steps_name"][loop.index0]|capitalize}}</p>
                </div>
            {% endfor %}
            </div>
            <div class="main">