{% from 'macros.twig' import button %}


<h3>{{'Beginning of the installation'|trans}}</h3>
<div class="text">
    <h3>{{'Installation or update of GLPI'|trans}}</h3>
    <p>{{"Choose 'Install' for a completely new installation of GLPI."|trans}}</p>
    <p> {{"Select 'Upgrade' to update your version of GLPI from an earlier version"|trans}}</p>
</div>
<div class="buttons">
    <form action="install.php?step=3" method="post">
        {{button('submit', 'Install'|trans, 'install')}}
    </form>
    <form action="install.php?step=3" method="post">
        {{button('submit', 'Upgrade'|trans, 'update')}}
    </form>
</div>