{% from 'macros.html.twig' import button %}
<div class="language">
    <form action="install.php?step=license" method="post">
    <select name="language" class="selectpicker" data-live-search="true" data-size="auto"> {# TO DOsearch bar !! #}
        {% for region,language_list in languages %}
              <optgroup label={{region|capitalize}}>
            {% for language_data in language_list %}
                {% for code, language in language_data %}
                    {% if code == preferred_language %}
                        <option value={{code}} selected>{{language[0]}}</option>
                    {% else %}
                        <option value={{code}}>{{language[0]}}</option>7
                    {% endif %}
            {% endfor %}

            {% endfor %}
        {% endfor %}
    </select>
    {{button('submit', 'OK'|trans)}}
    </form>
</div>