{% from 'macros.twig' import button %}
<h3>{{'Select your language'|trans}}</h3>
    <div class="language">
        <form action="install.php?step=1" method="post">
        <select name="language" class="selectpicker" data-live-search="true" data-size="auto"> {# TO DOsearch bar !! #}
            {% for region,language_list in languages %}
                <optgroup label={{region|capitalize}}>
                {% for language_data in language_list %}
                    {% for code, language in language_data %}
                        {% if code == preferred_language %}
                            <option value={{code}} selected>{{language['native']}}</option>
                        {% else %}
                            <option value={{code}}>{{language['native']}}</option>7
                        {% endif %}
                {% endfor %}

                {% endfor %}
            {% endfor %}
        </select>
        {{button('submit', 'OK'|trans)}}
        </form>
    </div>