{% from 'macros.twig' import button, input %}


<h3>{{'License'|trans}}</h3>
<div id='license' class='mb-5 border border-warning' readonly='readonly'>
    {{license}}
</div>
<form action="install.php?step=2" method="post">
    <div class="text mb-5">
        <div class="license-checkbox">
            <div class="form-check">
                {{input("", "", "checkbox", "form-check-input", "validateLicense", "", true)}}
                <label class="form-check-label" for="validateLicense">
                    {{'I have read and ACCEPT the terms of the license written above.'|trans}}
                </label>
            </div>
        </div>
    </div>
    {{button('submit', 'Continue'|trans)}}
</form>