{% macro input(name, value, type = "text", size = 20) %}
    <input type="{{ type }}" name="{{ name }}" value="{{ value|e }}" size="{{ size }}"/>
{% endmacro %}

{% macro textarea(name, value, rows = 10, cols = 40) %}
    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">{{ value|e }}</textarea>
{% endmacro %}

{% macro button(type = "button", text, name, value) %}
{% if type != "submit" %}
    <button type="{{ type }}" name="{{ name }}" value="{{ value|e }}"/></button>
{% else %}
    <button type="{{ type }}" name="{{ name }}" value="{{ value|e }}" class="btn btn-warning submit"/><i class="fas fa-circle-o-notch fa-spin" aria-hidden="true"></i>{{text}}</button>
{% endif %}
{% endmacro %}

{% macro table( 
    args    = { 
              },

    header  = {
                    args    :   [],
                    titles  :   []
              },
    body    = {
                    args    :   [],
                    rows    :   []
              }       
) %}
{% set args = { class : "table-container", search : "true", clickable_row : "true", export : "true", "post_name": "selected_rows", post_value: header.titles[0] }|merge(args) %}
{% set default_header_args = {"sortable" : "true", "radio" : "false","checkbox" : "false", default : ""} %}
{% set row_length = max(body.rows[0]|length, header.args|length, header.titles|length)  - 1 %}
<div class={{args.class}}>
    <table
    id="table"
    data-toggle="table"
    data-height="1px"
    data-search="{{args.search}}"
    data-click-to-select="{{args.clickable_row}}"
    data-show-export="{{args.export}}"
    data-icons-prefix="fas"
    data-server-sort="false">
        <thead>
            <tr>
                {% for i in range(0, row_length) %}
                    <th data-field="{{header.titles[i]|replace({' ': '_'})}}" data-radio="{{header.args[i].radio}}" data-checkbox="{{header.args[i].checkbox}}" data-sortable="{{header.args[i].sortable}}">{{header.titles[i]|capitalize}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in body.rows %}
                <tr>
                    {% for cell in row %}
                        <td>{{cell|default()}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<input id="table_input" type="hidden" name="{{args.post_name}}" value='test'>
<script>   
    $('form').on("submit", function() {
        selection = $('#table').bootstrapTable('getSelections');
        selection.forEach(array => {
        Object.keys(array).forEach(key => {
                if (key.includes("_data")) {
                    delete array[key];
                }
            })
        });
    $('#table_input').val(JSON.stringify(selection));
    });
</script>
{% endmacro table %}