{% from 'macros.twig' import button %}


<h3>{{"Checking for environment's requirements with the execution of ITSM-NG"|trans}}</h3>
{% set values = [] %}
{% for requirement in requirements %}
    {% set values = values|merge([[requirement.title|trans, requirement.validated
        ? '<i class="fas fa-check"></i>' ~ '<p>' ~ 'Checked'|trans ~ '</p>'
        : '<div class="chip required">'
            ~ (requirement.required ? '<i class="fas fa-times"></i><p>' ~ 'Required'|trans ~ '</p>' : '' )
            ~ '</div><p>'  ~ requirement.message|trans|raw ~ '</p>'
    ]]) %}
{% endfor %}
{% include 'table.twig' with {
    fields: ['Test done'|trans, 'Results'|trans],
    values: values,
    height: 460,
} %}
<h3>{{'Do you want to continue?'|trans}}</h3>

{% if (missing_requirements  == "none") %}

<div class="buttons">
    <form action="install.php?step=4" method="post">
            {{button('submit', 'Continue'|trans)}}
    </form>
</div>

{% elseif missing_requirements  == "optional" %}

<div class="buttons">
    <form action="install.php?step=3" method="post" class="mb-3">
        {{button('submit', 'Try again'|trans)}}
    </form>
    <form action="install.php?step=4" method="post">
        {{button('submit', 'Continue'|trans)}}
    </form>
</div>

{% else %}

<div class="buttons">
    <form action="install.php?step=3" method="post">
        {{button('submit', 'Try again'|trans)}}
    </form>
</div>

{% endif %}
