{% from 'macros.twig' import button, input %}


<h3>{{'Database connection setup'|trans}}</h3>
    <form action='install.php?step=5' method='post'>
        <div class="fields">
            <label class="mt-3" for="server">{{"SQL server (MariaDB or MySQL)"|trans}}</label>
            <input name="db_host" type="text" class="form-control w-50 mx-auto" value="">
            <label class="mt-3" for="user">{{"SQL User"|trans}}</label>
            <input name="db_user" type="text" class="form-control w-50 mx-auto" value="">
            <label class="mt-3" for="password">{{"Password"|trans}}</label>
            <input name="db_pass" type="password" class="form-control w-50 mx-auto" value="">
        </div>
        <div class="buttons my-3">
            {{button('submit', 'Continue'|trans)}}
        </div>
    </form>