{% from 'macros.twig' import button, input %}


<h3>{{'Database connection setup'|trans}}</h3>
    <form action='install.php?step=5' method='post'>
        <div class="fields">
            <div class="form-floating">
                {{input("db_host","","text", "form-control", "", "off")}}
                <label for="server">{{"SQL server (MariaDB or MySQL)"|trans}}</label>
            </div>
            <div class="form-floating">
                {{input("db_user","","text", "form-control", "", "off")}}
                <label for="user">{{"SQL User"|trans}}</label>
            </div>
            <div class="form-floating">
                {{input("db_pass","","password", "form-control", "", "off")}}
                <label for="password">{{"Password"|trans}}</label>
            </div>
        </div>
        <div class="buttons">
            {{button('submit', 'Continue'|trans)}}
        </div>
    </form>