{% from 'macros.html.twig' import button %}
<h3>{{'Checking of the compatibility of your environment with the execution of GLPI'|trans}}</h3>
    <table id="table" class="table"  data-toggle="table" 
  data-search="true" data-height="1px" data-show-export="true">
        <thead>
        <tr>
            <th data-field="test">Test done</th>
            <th data-sortable="true" data-field="result">{{'Results'|trans}}</th>
        </tr>
        </thead>
        <tbody>
            {% for requirement in requirements %}
                <tr>
                    <td>{{requirement.title|trans}}</td>
                    <td>
                        {% if requirement.validated %}
                            <i class="fas fa-check"></i>
                        {% else %}
                            {% if requirement.required %}
                                <i class="fas fa-exclamation-triangle"></i>
                            {% else %}
                                <i class="fas fa-times"></i>
                            {% endif %}
                            <p>{{requirement.message|trans|raw}}</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
        <h3>{{'Do you want to continue?'|trans}}</h3>
    {% if passed == 0 %} {# 0 is good, 1 is missing optional, 2 is missing required #}
        <div class="buttons">
            <form action="install.php?step=1" method="post">
                <button type="submit">Continue</button>
            </form>
        </div>
    {% elseif passed == 1 %}
            <div class="buttons">
                <form action="install.php?step=0" method="post">
                    {{button('submit', 'Try again'|trans)}}
                </form>
                <form action="install.php?step=1" method="post">
                    {{button('submit', 'Continue'|trans)}}
                </form>
            </div>
    {% else %}
        <div class="buttons">
            <form action="install.php?step=0" method="post">
                {{button('submit', 'Try again'|trans)}}
            </form>
        </div>
    {% endif %}