<div class="position-absolute d-block top-50" id="accessibility-menu" style="z-index: 100; right: -500px; transition: right .2s ease-out">
    <button class="position-absolute btn btn-lg btn-accessibility" onclick="toggleMenu(this)">
        <i class="fas fa-wheelchair fs-3"></i>
    </button>
    <div class="d-flex flex-column align-items-start bg-light border border-info" id="accessibility-menu-content">
        <h2 class="fs-4 px-3">{{"Accessibility Tools"|trans}}</h2>
        <button href="#" class="btn btn-link text-black" onclick="changeFontSize(1)" style="text-decoration: none">
            <i class="fas fa-search-plus"></i>
            {{"Increase Text"|trans}}
        </button>
        <button href="#" class="btn btn-link text-black" onclick="changeFontSize(-1)" style="text-decoration: none">
            <i class="fas fa-search-minus"></i>
            {{"Decrease Text"|trans}}
        </button>
        <button href="#" class="btn btn-link text-black" onclick="toggleClassForBody('accessibility-grayscale')" style="text-decoration: none">
            <i class="fas fa-adjust"></i>
            {{"GrayScale"|trans}}
        </button>
        <button href="#" class="btn btn-link text-black" onclick="toggleHighContrast()" style="text-decoration: none">
            <i class="far fa-circle"></i>
            {{"High Contrast"|trans}}
        </button>
        <button href="#" class="btn btn-link text-black" onclick="toggleNegativeHighContrast()" style="text-decoration: none">
            <i class="fas fa-circle"></i>
            {{"Negative Contrast"|trans}}
        </button>
        <button href="#" class="btn btn-link text-black" onclick="toggleClassForBody('accessibility-link-underline')" style="text-decoration: none">
            <i class="fas fa-link"></i>
            {{"Links Underline"|trans}}
        </button>
        <button href="#" class="btn btn-link text-black" onclick="toggleClassForBody('accessibility-readable-font')" style="text-decoration: none">
            <i class="fas fa-spell-check"></i>
            {{"Readable Font"|trans}}
        </button>
        <button href="#" class="btn btn-link text-black" onclick="resetAllAccessibilityOptions()" style="text-decoration: none">
            <i class="fas fa-undo"></i>
            {{"Reset"|trans}}
        </button>
        <button href="#" class="btn btn-link text-black">{{""}}</button>
    </div>
</div>
<script>
    function toggleMenu(event) {
        const menu = $('#accessibility-menu');
        const menuWidth = menu.outerWidth();

        if (menu.hasClass('open')) {
            menu.removeClass('open');
            menu.css('right', -menuWidth + 'px');
        } else {
            menu.addClass('open');
            menu.css('right', '0px');
        }
    }

    function toggleClassForBody(className) {
        const body = $('body');
        const isClassPresent = body.hasClass(className);

        if (!isClassPresent) {
            body.addClass(className);
            sessionStorage.setItem(className, !isClassPresent);
        } else {
            body.removeClass(className);
            sessionStorage.removeItem(className);
        }
    }

    function changeFontSize(size) {
        const html = $('html');
        const currentSize = html.css('font-size');
        const newSize = parseInt(currentSize) + size;

        maxFontSize = 24;
        minFontSize = 12;

        if (newSize + size > maxFontSize || newSize + size < minFontSize)
            return;
        html.css('font-size', newSize + 'px');
        placeAccessibilityButton();
        sessionStorage.setItem('accessibility-font-size', newSize);
    }

    function toggleHighContrast() {
        const body = $('body');
        const isHighContrast = body.hasClass('accessibility-high-contrast');

        if (body.hasClass('accessibility-negative-high-contrast'))
            body.removeClass('accessibility-negative-high-contrast');
        if (!isHighContrast) {
            if (body.hasClass('accessibility-negative-high-contrast'))
                body.removeClass('accessibility-negative-high-contrast');
            body.addClass('accessibility-high-contrast');
            sessionStorage.setItem('accessibility-high-contrast', !isHighContrast);
        } else {
            body.removeClass('accessibility-high-contrast');
            sessionStorage.removeItem('accessibility-high-contrast');            
        }
    }

    function toggleNegativeHighContrast() {
        const body = $('body');
        const isHighContrast = body.hasClass('accessibility-negative-high-contrast');

        if (body.hasClass('accessibility-high-contrast'))
            body.removeClass('accessibility-high-contrast');
        if (!isHighContrast) {
            body.addClass('accessibility-negative-high-contrast');
            sessionStorage.setItem('accessibility-negative-high-contrast', !isHighContrast);
        } else {
            body.removeClass('accessibility-negative-high-contrast');
            sessionStorage.removeItem('accessibility-negative-high-contrast');            
        }
    }

    function resetAllAccessibilityOptions() {
        const body = $('body');
        body.removeClass('accessibility-grayscale');
        sessionStorage.removeItem('accessibility-grayscale');

        body.removeClass('accessibility-high-contrast');
        sessionStorage.removeItem('accessibility-high-contrast');

        body.removeClass('accessibility-negative-high-contrast');
        sessionStorage.removeItem('accessibility-negative-high-contrast');

        body.removeClass('accessibility-link-underline');
        sessionStorage.removeItem('accessibility-link-underline');

        body.removeClass('accessibility-readable-font');
        sessionStorage.removeItem('accessibility-readable-font');

        $('html').css('font-size', '');
        sessionStorage.removeItem('accessibility-font-size');

        placeAccessibilityButton();
    }

    function placeAccessibilityButton() {
        const button = $('#accessibility-menu').find('button');
        const buttonWidth = button.outerWidth();

        button.css('left', -buttonWidth + 'px');
    }

    $(document).ready(function() {
        if (sessionStorage.getItem('accessibility-font-size'))
            $('html').css('font-size', sessionStorage.getItem('accessibility-font-size') + 'px');
        if (sessionStorage.getItem('accessibility-high-contrast'))
            $('body').addClass('accessibility-high-contrast');
        if (sessionStorage.getItem('accessibility-negative-high-contrast'))
            $('body').addClass('accessibility-negative-high-contrast');
        if (sessionStorage.getItem('accessibility-grayscale'))
            $('body').addClass('accessibility-grayscale');
        if (sessionStorage.getItem('accessibility-link-underline'))
            $('body').addClass('accessibility-link-underline');
        if (sessionStorage.getItem('accessibility-readable-font'))
            $('body').addClass('accessibility-readable-font');

        const menu = $('#accessibility-menu');
        menu.css('right', -menu.outerWidth() + 'px');
        placeAccessibilityButton();
    });
</script>