{% from 'macros/wrappedInput.twig' import wrappedInput %}

<form {% if form.attributes.name is not defined %} aria-label="Main Form" name="form" {% endif %} action="{{form.action}}" enctype="multipart/form-data" method={{form.method|default('post')}} class="container" {% for name, value in form.attributes %} {{name}}="{{value}}" {% endfor %}>
    <div>
        {{preItemFormHtml|raw}}
    </div>
	{% for key, bloc in form.content  %}
		<div class="form-section" {% for name, value in bloc.attributes %} {{name}}="{{value}}" {% endfor %}>
			{% if bloc.visible %}
				<h2 class="form-section-header">{{key|raw}}</h2>
			{% endif %}
			<div class="form-section-content">
				<div class="row row-cols-{{col}}">
					{% for title, input in bloc.inputs %}
						{{ wrappedInput(title, input, root_doc) }}
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}
	<div>
		{{additionnalHtml|raw}}
	</div>
	<div class="d-flex justify-content-around">
		<input type="hidden" name="_glpi_csrf_token" value="{{csrf_token}}"/>
		{% if not form.buttons %}
			<button type="submit" aria-label="{{"Send"|trans}}" class='btn btn-primary'>{{"Send"|trans}}</button>
		{% endif %}
		{% for button in form.buttons %}
			{% if button|length > 0 %}
				<button {% for attr, val in button %} {{attr}}='{{val}}' {% endfor %} aria-label="{{ val }}">
					{% if button.icon %}
						<i class='{{button.icon}} mx-2' aria-hidden="true"></i>
					{% endif %}
					{{button.value|raw}}
				</button>
			{% endif %}
		{% endfor %}
	</div>
</form>
<script src="{{root_doc}}/node_modules/jquery/dist/jquery.min.js"></script>
<script> 
$('select[name="is_global"]').prop('disabled', false);
$('.select2-container').removeClass('select2-container--disabled');
</script>