{% from 'macros/input.twig' import input %}

{% set options = ['actions', 'after', 'before', 'hooks', 'init', 'init', 'col', 'col_md', 'col_lg'] %}

<form
    name="form"
    action="{{form.action}}"
    enctype="multipart/form-data"
    method={{form.method|default('post')}}
    class="container"
    {% for name, value in form.attributes %}
    {{name}}="{{value}}"
    {% endfor %}
>
{% for key, bloc in form.content  %}
<div class="container mb-3">
    {% if bloc.visible %}
        <h2 class="text-start">{{key|raw}}</h2>
    {% endif %}
    <div class="row row-cols-{{col}}">
    {% for title, input in bloc.inputs %}
        {% if input.type != 'hidden' and input|length > 0 %}
        <div class="
            col{{ input.col ? '-' ~ input.col : '-12' }}
            col-md{{ input.col_md ? '-' ~ input.col_md : '-6' }}
            col-lg{{ input.col_lg ? '-' ~ input.col_lg : '-4' }}
            text-start">
            <label for="{{input.name}}">{{title|raw}}</label>
            <div class="d-flex justify-content-between align-items-center input-group my-1">
        {% endif %}
                {% if input.before|raw %}
                <div class="form-text mx-2">{{input.before | raw}}</div>
                {% endif %}
                {% set attributes = input | filter((v, k) => k not in options) %}
                {% if input.type %}
                {{input(attributes, root_doc)}}
                {% else %}
                {{ input.content|raw }}
                {% endif %}
                {% if input.after %}
                <div class="form-text mx-2">{{input.after|raw}}</div>
                {% endif %}
                {% for action in input.actions %}
                    <button type="button" class="btn border" onClick="{{action.onClick}}"><a class="{{action.icon}}"></a></button>
                {% endfor %}
        {% if input.type != 'hidden' and input|length > 0 %}
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endfor %}
<div>
{{additionnalHtml|raw}}
</div>
<div class="d-flex justify-content-around">
{% if not form.buttons %}
<button type="submit" class='btn btn-primary'>{{"Submit"|trans}}</button>
{% endif %}
{% for button in form.buttons %}{% if button|length > 0 %}
<button {% for attr, val in button %} {{attr}}='{{val}}' {% endfor %}>
    {% if button.icon %}<i class='{{button.icon}} mx-2'></i>{% endif %}{{button.value|raw}}
</button>
{% endif %}{% endfor %}
</div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
{% for bloc in form.content %}
    {% for input in bloc.inputs %}
    {% if input.init %}
    {{input.init|raw}}
    {% endif %}
    {% if input.hooks %}
    {% for hook, script in input.hooks %}
$("#{{input.id}}").on("{{hook}}", function() {
    {{script|raw}}
})
    {% endfor %}
    {% endif %}
    {% endfor %}
{% endfor %}
</script>