{% from "macros.twig" import table, input %}

{% if menu_width is empty %}

	<body class={{body_class}}>

	{% else %}

		<body class={{body_class}} style="--nav-open-width: {{menu_width['menu-open']}}; --nav-close-width: {{menu_width['menu-close']}}; --menu-count: {{menu|length}}; --bubble_pos_x: {{bubble_pos.x}}; --bubble_pos_y: {{bubble_pos.y}};">
		{% endif %}
		{% if impersonate_banner is defined %}
			{% include impersonate_banner.path with impersonate_banner.args%}
		{% endif %}

		<header role='banner' id='header_top' class='d-flex justify-content-between align-items-center'>
			<div class="header_logo" id='c_logo'>
				<a href="{{root_doc}}/front/central.php" accesskey='1' title={{"Home"|trans}}>
					<span class='sr-only'>{{"Home"|trans}}</span>
				</a>
			</div>
			<div id="searchbar">
				<input id="searchbar" type="search" placeholder="Search here ...">
				<i class="fa fa-search"></i>
			</div>
			<ul class='d-flex justify-content-around m-0'>
				<li id='menu-options' class="dropdown dropup p-2">
					{# URL::sanitizeURL($url_help_link) ?? #}
					<a class='fs-4' title={{'Options'|trans}} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fas fa-sort-amount-down"></i>
					</a>
                    <div class="dropdown-menu dropup">
                        <h6 class="dropdown-header">{{'Menu'|trans}}</h6>
                        <span class="dropdown-item" href="#">{{'Menu collapse'|trans}}
                            :
                            {{input("", "", "checkbox", "form-check-input", "menu-collapse-toggle" ,"", "", "", menu_small ? 'true')}}</span>
                        <span class="dropdown-item" href="#">{{'Reset menu bubble position'|trans}}
                            :
                            <button id"reset-bubble-button" type="button" class="btn btn-primary btn-sm">Reset</button>
                        </span>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">{{'Menu favorite'|trans}}</h6>
                        <span class="dropdown-item" href="#">{{'Activate menu favorite'|trans}}
                            :
                            {{input("", "", "checkbox", "form-check-input", "menu-favorite-toggle","", "", "", menu_favorite_on ? 'true')}}</span>
                        <span class="dropdown-item" href="#">{{'Activate favorite selection'|trans}}
                            :
                            {{input("", "", "checkbox", "form-check-input", "menu-favorite-selection-toggle")}}</span>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">{{'Menu position'|trans}}</h6>
                        <span class="dropdown-item" href="#">
                            <i class="fas fa-arrow-alt-circle-left"></i>
                            {{'Left'|trans}}
                            :
                            {{input("menu-position", "", "radio", "form-check-input menu-position-bouton", "menu-left", "", "", "", menu_position == 'menu-left' ? 'true')}}</span>
                        <span class="dropdown-item" href="#">
                            <i class="fas fa-arrow-alt-circle-up"></i>
                            {{'Up'|trans}}
                            :
                            {{input("menu-position", "", "radio", "form-check-input menu-position-bouton", "menu-top", "", "", "", menu_position == 'menu-top' ? 'true')}}</span>
                        <span class="dropdown-item" href="#">
                            <i class="fas fa-arrow-alt-circle-right"></i>
                            {{'Right'|trans}}
                            :
                            {{input("menu-position", "", "radio", "form-check-input menu-position-bouton", "menu-right", "", "", "", menu_position == 'menu-right' ? 'true')}}</span>
                        <span class="dropdown-item" href="#">
                            <i class="fas fa-circle"></i>
                            {{'Bubble'|trans}}
                            :
                            {{input("menu-position", "", "radio", "form-check-input menu-position-bouton", "menu-bubble", "", "", "", menu_position == 'menu-bubble' ? 'true')}}</span>
                        <div class="divers">
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Divers</h6>
                            <ul class="in-dropdown">
                                <a href="{{root_doc}}/front/logout.php{{noAUTO ? '?noAUTO=1'}}" title={{'Logout'|trans}} class='fa fa-sign-out-alt'>
                                    <span class='sr-only'>{{'Logout'|trans}}></span>
                                </a>
                                <a href='{{root_doc}}/front/preference.php' title="{{'My settings'|trans}} - {{username}}" class='fa fa-cog'>
                                    <span class='sr-only'>{{'My settings'|trans}}</span>
                                    {% if username %}
                                        <span id='myname'>{{username}}</span>
                                    {% endif %}
                                </a>
                                {% if can_update %}
                                    <a href='{{root_doc}}/ajax/switchdebug.php' class="fa fa-bug debug{{is_debug_active ? 'on' : 'off'}}" title="{{'Change mode'|trans}} {{is_debug_active ? 'Debug mode enabled'|trans : 'Debug mode disabled'|trans}}">
                                        <span class='sr-only'>{{'Change mode'|trans}}</span>
                                    </a>
                                {% endif %}
                                <a
                                    href="{{sanitizedURL}}" target='_blank' title={{'Help'|trans}} class='fa fa-question'>
                                    {# URL::sanitizeURL($url_help_link) ?? #}
                                    <span class='sr-only'>{{'Help'|trans}}</span>
                                </a>
                            </ul>
                        </div>
                    </div>
				</li>
				{% if can_update %}
					<li id='debug_mode' class='p-2'>
						<a href='{{root_doc}}/ajax/switchdebug.php' class="debug{{is_debug_active ? 'on' : 'off'}} fs-4" title="{{'Change mode'|trans}} {{is_debug_active ? 'Debug mode enabled'|trans : 'Debug mode disabled'|trans}}">
						    <i class='fa fa-bug'></i>
							<span class='sr-only'>{{'Change mode'|trans}}</span>
						</a>
					</li>
				{% endif %}
				<li id='preferences_link' class='p-2'>
					<a href='{{root_doc}}/front/preference.php' title="{{'My settings'|trans}} - {{username}}" class='fs-4'>
						<i class='fa fa-cog'></i>
                        <span class='sr-only'>{{'My settings'|trans}}</span>
						{% if username %}
							<span id='myname'>{{username}}</span>
						{% endif %}
					</a>
				</li>

				<li id='deconnexion' class='p-2'>
					<a href="{{root_doc}}/front/logout.php{{noAUTO ? '?noAUTO=1'}}" title={{'Logout'|trans}} class='fs-4'>
						<i class='fa fa-sign-out-alt'></i>
						<span class='sr-only'>{{'Logout'|trans}}></span>
					</a>
				</li>
			</ul>
		</header>

		<div id="main-test" class="{{menu_position}}">
			<nav id="menu" class="{{menu_small ? 'menu-close' : 'menu-open'}}">
				<div id="bubble">
					<i id="compass-menu" class="fas fa-compass"></i>
					<i id="star-menu" class="fas fa-star"></i>
				</div>
				<div id="menu-border" onmousedown="resizeMenu()"></div>
				{% include main_menu.path with main_menu.args %}
				<div class="menu-bottom">
					<a class="copyright-message" href="https://www.itsm-ng.com" target="_blank" title="{{ITSM_VERSION}} Copyright (C) {{ITSM_YEAR}} ITSM-NG and contributors"></a>
				</div>
			</nav>
			<div class="main-container">
				<div id="subheader" class="d-flex justify-content-between p-2">
					{% include "breadcrumb.twig" with { 'items': breadcrumb_items } %}
					{% include "actions.twig" with {'links': links, 'root_doc':root_doc} %}
				</div>
				<main role='main' id='page'>
