{% from "macros.twig" import table %}
<body class={{body_class}}>

{% if impersonate_banner is defined %}
    {% include impersonate_banner.path with impersonate_banner.args%}
{% endif %}

        <header role='banner' id='header_top'>
            <div id="searchbar">
                <input id="searchbar" type="search" placeholder="Search here ..."> 
                <i class="fa fa-search"></i>
            </div>
            <div class="header_logo" id='c_logo'>
                <a href="{{root_doc}}/front/central.php" accesskey='1' title={{"Home"|trans}}>
                    <span class='sr-only'>{{"Home"|trans}}</span>
                </a>
            </div>
        </header> 

<div id="main-test">
    <div id="menu" class="menu">
        <div id="menu-button" onclick="changeMenuState()">
           <i class="fas fa-caret-left"></i>
            <script>
            function changeMenuState(){
                is_menu_close = $('#menu').hasClass('menu-close');
                $('#menu').toggleClass('menu-close', !is_menu_close);
                $('#header_top').toggleClass('menu-close', !is_menu_close);
                if (!is_menu_close){
                    $('#menu').toggleClass('favorite-mode', false);
                }
            }
            </script>
        </div>
        <div id="menu-border" onmousedown="resizeMenu()">
            <script>
                function resizeMenu(){
                    is_menu_close = $('#menu').hasClass('menu-close');
                    width_var = is_menu_close ? "--menu-close-width" : "--menu-open-width";
                    $('body').css('--menu-transition-time', '0s');
                    window.addEventListener("mousemove", changeMenuWidth);
                    window.addEventListener("mouseup", (event) => {
                        $('body').css('--menu-transition-time', '0.3s');
                        removeEventListener("mousemove", changeMenuWidth);
                        console.log(event);
                    }, { once: true });
                }
                function changeMenuWidth(event) {
                    $('body').css(width_var, event.clientX + "px")
                }
            </script>
        </div>
        {% include main_menu.path with main_menu.args %}
        <div class="menu-bottom">
            <a class="copyright-message" href="https://www.itsm-ng.com" target="_blank" title="{{ITSM_VERSION}} Copyright (C) {{ITSM_YEAR}} ITSM-NG and contributors">
                <div>
                </div>
            </a>
            {% include top_menu.path with top_menu.args %}
        </div>
    </div>
    <div class="main-container">
        <div id='c_ssmenu2' >
            <ul>
                <li class='breadcrumb_item'> {# need menu and link and sector and options #}
                    <a href="{{root_doc}}/front/{{mainurl}}.php" title="{{'Home'|trans}}">{{'Home'|trans}}</a>
                </li>

        {% if not menu[sector] is empty %}
                <li class='breadcrumb_item'>
                    <a href="{{root_doc}}{{link}}" title="{{menu[sector]['title']}}">
                        <i class="fas {{menu[sector]['icon']}}"></i>{{menu[sector]['title']}}</a>
                </li>
        
            {% if show_page %}
                <li class="breadcrumb_item">
                    <a href="{{ root_doc ~ menu[sector]['content'][item]['page'] }}" {{with_option ? 'class="here'}} title="{{ menu[sector]['content'][item]['title'] }}">
                        <i class="{{ menu[sector]['content'][item]['icon'] ?? '' }}"></i>{{ menu[sector]['content'][item]['title'] }}
                    </a>
                </li>
            {% endif %}         
        
        {% endif %}
        </ul>
    </div>
        <main role='main' id='page'>