{% from "macros.twig" import table %}
<body class={{body_class}}>


{% if impersonate_banner is defined %}
    {% include impersonate_banner.path with impersonate_banner.args%}
{% endif %}

        <header role='banner' id='header_top'>
            <div id="searchbar">
                <input id="searchbar" type="search" placeholder="Search here ..."> 
                <i class="fa fa-search"></i>
            </div>
            <div class="header_logo" id='c_logo'>
                <a href="{{root_doc}}/front/central.php" accesskey='1' title={{"Home"|trans}}>
                    <span class='sr-only'>{{"Home"|trans}}</span>
                </a>
            </div>
        </header> 

<div id="main-test">
    <div id="menu" class="menu">
        <div id="menu-button" onclick="changeMenuState()">
           <i class="fas fa-caret-left"></i>
            <script>
            function changeMenuState(){
                is_menu_close = $('#menu').hasClass('menu-close');
                $('#menu').toggleClass('menu-close', !is_menu_close);
                $('#header_top').toggleClass('menu-close', !is_menu_close);
            }
            </script>
        </div>
        {% include main_menu.path with main_menu.args %}
        {% include top_menu.path with top_menu.args %}
        <div class="copyright-message">{{copyright_message|raw}}</div>
    </div>
    <div class="main-container">
        <div id='c_ssmenu2' >
            <ul>
            {# need menu and link and sector and options #}
                <li class='breadcrumb_item'>  
                    <a href="{{root_doc}}/front/{{mainurl}}.php" title="{{'Home'|trans}}">{{'Home'|trans}}</a>
                </li>
                <li class='breadcrumb_item'>
                    <a href="{{root_doc}}{{link}}" title="{{menu[sector]['title']}}">{{menu[sector]['title']}}</a>
                </li>
{% if show_page %}
                <li class="breadcrumb_item">
                    <a href="{{ root_doc ~ menu[sector]['content'][item]['page'] }}" {{with_option ? 'class="here'}} title="{{ menu[sector]['content'][item]['title']}}">
                        <i class="{{ menu[sector]['content'][item]['icon'] ?? '' }}"></i>{{ menu[sector]['content'][item]['title'] }}
                    </a>
                </li>
{% endif %}   
            </ul>
        </div>
        <main role='main' id='page'>