<div class="grid-stack border" id="ContentForTabs"></div>
<div class='d-none' id="hidden_gridStack_items">
  {% for key, tab in tabs %}
  <div class="grid-stack-item" id="ContentFor{{key|slug}}" gs-min-w='6' data-gs-value="test">
    <div class="card grid-stack-item-content">
      <div>
        <div class="card-header position-sticky">{{tab['title']|raw}}</div>
        <div class="card-body" data-params="{{tab.params}}" style="cursor: default"></div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<link href="{{ glpiroot }}/node_modules/gridstack/dist/gridstack.min.css" rel="stylesheet"/>
<script src="{{ glpiroot }}/node_modules/gridstack/dist/gridstack-all.js"></script>

<script>
  // Initialize grid
  const grid = GridStack.init({
    cellHeight: 'auto',
    cellWidth: '1rem',
    handle: '.card-header',
    sizeToContent: true,
  });
  grid.setAnimation(false);

  // Variables
  const options = [];

  // Update the width of widgets based on the number of widgets present
  function updateWidgetWidth() {
    const columnWidgets = grid.getGridItems();
    if (columnWidgets.length === 1) {
      grid.update(columnWidgets[0], { w: 12 });
    }
	  grid.compact();
  }

  function saveGrid() {
	let save = grid.save();
	items = grid.getGridItems();
	for (i in save) {
		for (j in items) {
			if ($(items[j]).children('div').html() === save[i].content) {
				save[i].name = $(items[j]).attr('id').replace('ContentFor', '');
			}
		};
		delete save[i].content;
	}
	$.ajax({
		url: '{{glpiroot}}/ajax/updateUserMenu.php',
		type: 'POST',
		data: {
			'itemName': '{{itemName}}',
			'content': save,
		},
	});
  }

  // Update grid content based on the user's interaction with the dropdown menu
  async function updateGridContent(target) {
    const val = target.attr('data-value');
    const inp = target.children('input');
    inp.prop('checked', !inp.prop('checked'));
    
    if (val === 'all') {
      await $('.dropdown-menu a').each(async (i, e) => {
        let otherInp = $(e).children('input');
        if ($(e).attr('data-value') !== 'all') {
          otherInp.prop('checked', inp.prop('checked'));
          await handleDropdownOption($(e), inp.prop('checked'));
        }
      });
      return;
    }
    await handleDropdownOption(target, inp.prop('checked'));
  }

  // Handles individual dropdown options
  async function handleDropdownOption(option, isChecked) {
    const val = option.attr('data-value');
    if (isChecked && !options.includes(val)) {
      options.push(val);
      await moveAndMakeWidget(val);
    } else if (!isChecked && options.includes(val)) {
      options.splice(options.indexOf(val), 1);
      moveAndRemoveWidget(val);
    }
  }

  // Moves the widget to the grid and makes it a grid widget
  function moveAndRemoveWidget(val) {
    const element = $(`#ContentFor${val}`);
    grid.removeWidget(element[0], false);
    element.detach().prependTo('#hidden_gridStack_items');
    setTimeout(() => {
        element.removeAttr('gs-x gs-y');
    }, 300);
  }

  // Moves the widget to hidden area and removes it from the grid
  async function moveAndMakeWidget(val) {
	  const element = $(`#ContentFor${val}`);
    const body = $(`#ContentFor${val} .card-body`);
    if (body.html() === '') {
      body.html('<div class="text-center"><i class="fa fa-spinner fa-spin"></i></div>');
      await $.ajax({
        url: '{{glpiroot}}/ajax/common.tabs.php?' + body.attr('data-params'),
        type: 'GET',
        success: (data) => {
          body.html(data);
        },
      });
    }
    element.detach().appendTo('#ContentForTabs');
    grid.makeWidget(element[0]);
  }


  // Initialize checkboxes based on selectedTabs
  function initCheckbox() {
    const savedLayout = {{selectedTabs|json_encode|raw}} ?? [];
    if (savedLayout.length === 0) {
      $first = $('.dropdown-menu a.isTabButton').first();
      $first.children('input').prop('checked', true);
      options.push($first.attr('data-value'));
      return;
    }
    for (widget of savedLayout) {
      const name = widget.name;
      const element = $(`#ContentFor${name}`);
      delete widget.name;

      for (param of Object.entries(widget)) {
        element.attr('gs-'
          + param[0].replace(/[A-Z]+(?![a-z])|[A-Z]/g, ($, ofs) => (ofs ? "-" : "") + $.toLowerCase()),
          param[1]);
      }
      $('.dropdown-menu a[data-value="' + name + '"] input').prop('checked', true);
      options.push(name);
    }
  }

  async function initTable() {
    initCheckbox();
    for (option of options) {
      await moveAndMakeWidget(option);
    }
    updateWidgetWidth();
  }

  // Document ready function
  $(document).ready(() => {
    initTable();
  });

  // Dropdown menu item click handlers
  $('.tab-selector a').on('click', function(event) {
    event.preventDefault();
    updateGridContent($(this)).then(() => {
      updateWidgetWidth();
      saveGrid();
    });
    return false;
  });

  $('.tab-selector input[type="checkbox"]').on('click', function(event) {
    event.preventDefault();
    event.target.checked = !event.target.checked;
    updateGridContent($(this).parent()).then(() => {
      updateWidgetWidth();
      saveGrid();
    });
  });

  grid.on('resizestop', (event, element) => {
	  saveGrid();
  });

  grid.on('dragstop', (event, element) => {
	  saveGrid();
  });

</script>
