<div class="row px-3">
    <div id="main-accordion-view" class="col col-7"></div>
    <ul class="accordion col col-5" id="options-for-{{itemName|slug}}">
        {% for key, tab in tabs %}
        <li class="accordion-item">
            <h2 class="accordion-header d-flex">
                <button
                    class="btn btn-sm btn-link m-2 me-0 moveToMainButton"
                    title="{{"Move to main view"|trans}}">
                    <i class="fas fa-share-square fa-rotate-180"></i>
                </button>
                <button class="accordion-button collapsed ms-0"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#tab-{{key|slug}}"
                    aria-expanded="true"
                    aria-controls="tab-{{key|slug}}">
                    {{tab['title']|raw}}
                </button>
            </h2>
            <div class="accordion-collapse collapse" id="tab-{{key|slug}}"
                data-url="{{tab['url']}}"
                data-params="{{tab['params']}}"
                data-bs-parent="#options-for-{{itemName|slug}}">
                <div class="accordion-body container"></div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<script>
let selectedTab = null;

async function loadOptionBody(collapse) {
  const body = collapse.find('.accordion-body');
  const url = collapse.data('url');
  const params = collapse.data('params');

  if (!body.html().length) {
      await $.get(url, params, function(data) {
          body.html(data);
      });
  }
}

function disableButtons(header) {
    header.find('button').attr('disabled', 'disabled');
    header.find('button').addClass('bg-light');
}

function enableButtons(header) {
    header.find('button').removeAttr('disabled');
    header.find('button').removeClass('bg-light');
}

function switchBody(body1, body2) {
    const temp = body1.html();
    body1.html(body2.html());
    body2.html(temp);
}

async function moveBodyToMain(collapse) {
    const main = $('#main-accordion-view');
    if (selectedTab) {
        const prev = $('#' + selectedTab);
        switchBody(main, prev.find('.accordion-body'));
        enableButtons(prev.parent());
    }
    await loadOptionBody(collapse);
    switchBody(main, collapse.find('.accordion-body'));
    disableButtons(collapse.parent());
    collapse.collapse('hide');
    selectedTab = collapse.attr('id');
}


$(".accordion-collapse").on('show.bs.collapse', function(e) {
    loadOptionBody($(e.target));
});

$(".moveToMainButton").on('click', function(e) {
    const collapse = $(e.target).parent().parent().parent().find('.accordion-collapse');
    if (collapse.attr('id') !== selectedTab) {
        moveBodyToMain(collapse);
    }
});

$(document).ready(function() {
    const first = $('#options-for-{{itemName|slug}} .accordion-item:first-child .accordion-collapse');
    moveBodyToMain(first);
});
</script>
