<div class="row px-3 w-100">
    <div id="main-accordion-view" class="col col-sm-12 col-md-{{(tabs|length == 1) ? 12 : 7}} p-3"></div>
    <ul class="col col-sm-12 col-md-{{listSize|default(5)}} p-0 {% if tabs|length == 1 %}d-none{% endif %}"
        id="options-for-{{itemName|slug}}" data-size="{{listSize|default(5)}}">
        <li class="d-none d-md-table btn-group mb-2 text-right ms-auto">
            <button class="btn btn-outline-secondary" onclick="changeListSize(1)" id="increase-list-size">
                <i class="fas fa-arrow-left"></i>
                <span class="visually-hidden">{{"Increase list width"|trans}}</span>
            </button>
            <button class="btn btn-outline-secondary" onclick="changeListSize(-1)" id="decrease-list-size">
                <i class="fas fa-arrow-right"></i>
                <span class="visually-hidden">{{"Decrease list width"|trans}}</span>
            </button>
        </li>
        {% for key, tab in tabs %}
        <li>
            <h2 class="d-flex bg-light border w-100 m-0">
                <button
                    class="btn btn-sm btn-light m-2 me-0 moveToMainButton"
                    title="{{"Move to main view"|trans}}">
                    <i class="fas fa-share-square fa-rotate-180"></i>
                    <span class="visually-hidden">{{"Move to main view"|trans}}</span>
                </button>
                <button
                    class="btn btn-light w-100 d-flex justify-content-between align-items-center collapse-button"
                    type="button"
                    aria-expanded="false"
                    aria-controls="tab-{{key|slug}}">
                    {{tab['title']|raw}}
                    <i class="fas fa-plus fa-xs"></i>
                </button>
            </h2>
            <div class="border border-top-0 overflow-auto"
                id="tab-{{key|slug}}"
                data-url="{{tab['url']}}"
                data-params="{{tab['params']}}"
                style="display:none;"
                >
                <div class="container"></div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<script>
let selectedTab = null;
let mainTab = null;

async function loadBody(id) {
    const collapse = $('#' + id);
    const body = collapse.find('.container');
    if (body.html().trim() === '') {
        await $.ajax({
            url: collapse.data('url'),
            data: collapse.data('params'),
            success: function(data) {
                body.html(data);
            }
        });
    }
}

function openCollapse() {
    if (selectedTab === null) {
        return;
    }
    const collapse = $('#' + selectedTab);
    const button = collapse.prev().find('button.collapse-button');
    const body = collapse.find('.container');
    const icon = $('button[aria-controls="' + selectedTab + '"] i');
    icon.removeClass('fa-plus').addClass('fa-minus');
    loadBody(selectedTab).then(() => {
        collapse.show();
    })
    button.attr('aria-expanded', 'true');
}

function closeCollapse() {
    if (selectedTab === null) {
        return;
    }
    const collapse = $('#' + selectedTab);
    const button = collapse.prev().find('button.collapse-button');
    const icon = $('button[aria-controls="' + selectedTab + '"] i');
    icon.removeClass('fa-minus').addClass('fa-plus');
    collapse.hide();
    selectedTab = null;
    button.attr('aria-expanded', 'false');
}

function toggleCollapse(target) {
    const collapsed =
        (selectedTab === target.attributes['aria-controls'].value)
    const icon = $(target).find('i');
    const collapse = $('#' + target.attributes['aria-controls'].value);

    if (collapsed) {
        closeCollapse();
        selectedTab = null;
        return;
    }
    closeCollapse();
    selectedTab = collapse.attr('id');
    openCollapse();
}

function toggleHeader(header) {
    const buttons = header.find('button');
    buttons.prop('disabled', !buttons.prop('disabled'));
}

async function moveBodyToMainView(target) {
    const mainAccordion = $('#main-accordion-view');
    const collapse = target.parent().next();
    const body = collapse.find('.container');

    if (mainTab !== null) {
        toggleHeader($('#' + mainTab).prev());
    }

    toggleHeader(target.parent().first('h2'));
    mainTab = collapse.attr('id');

    loadBody(collapse.attr('id')).then(() => {
        mainAccordion.html(body.html());
        body.html('');
        if (selectedTab === collapse.attr('id')) {
            closeCollapse();
        }
    });
}

function changeListSize(delta) {
    const list = $('#options-for-{{itemName|slug}}');
    const main = $('#main-accordion-view');
    const size = list.data('size') + delta;
    const increase = $('#increase-list-size');
    const decrease = $('#decrease-list-size');
    const min = 3;
    const max = 9;

    decrease.prop('disabled', size === min);
    increase.prop('disabled', size === max);
    list.data('size', size);
    for (let i = min; i <= max; i++) {
        list.removeClass('col-md-' + i);
        main.removeClass('col-md-' + i);
    }
    main.addClass('col-md-' + (12 - size));
    list.addClass('col-md-' + size);
}

$("button.collapse-button").on('click', function(e) {
    toggleCollapse(e.currentTarget);
});

$('button.moveToMainButton').on('click', function(e) {
    moveBodyToMainView($(e.currentTarget));
});

$(document).ready(function() {
    const firstTab = $('button.collapse-button').first();
    selectedTab = firstTab.attr('aria-controls');
    moveBodyToMainView(firstTab);
});

</script>
