{% macro input(name, value, type = "text", class, id, placeholder, required, autocomplete = "on", checked) %}
    <input  class="{{ class }}" id="{{ id }}" type="{{ type }}" name="{{ name }}" value="{{ value|e }}" placeholder="{{ palceholder }}" {{ required ? "required"}} {{checked ? 'checked'}} "autocomplete"="{{ autocomplete }}"/>
{% endmacro %}

{% macro textarea(name, value, rows = 10, cols = 40) %}
    <textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols }}">{{ value|e }}</textarea>
{% endmacro %}

{% macro button(type = "button", text, name, value) %}
    {% if type != "submit" %}
    <button type="{{type|default("submit")}}" aria-label="{{ name }}" name="{{name|default("submit")}}" class="{{class|default("submit")}}" value="{{ value|e }}"/></button>
    {% else %}
    <button type="{{ type }}" name="{{ name }}" aria-label="{{ name }}" value="{{ value|e }}" class="btn btn-warning submit"/><i class="fas fa-circle-o-notch fa-spin" aria-hidden="true"></i>{{text}}</button>
    {% endif %}
{% endmacro %}

{#
    args    = {}    : the overall argument of the table such as the class, whether row searching should be enabled, data export enable etc...
    header  = {     : header contain your column name (title) and the options of the argument of this column such as whether it should be sortable,
                    the default value of a cell if no value is provided etc. The argument and titles are in different lists and are linked by their index.
                    Even if a column as no argument, you have to pass an empty as the argument to maintain the index linking.
                args    :   [], : list of argument for the column.
                titles  :   []  : the title of the column.
              },
    body    = {     : same as header for the body.
                args    :   [], : list of argument for the row, usually none
                rows    :   []  : 2D list of row containing cells. ex: [['Emile', 'Zola', 62], ['Marcel', 'Proust', 41]]
              }
    Both the table args and the column args have default values, check them in the macro
#}open
{% macro table(args = {}, header = {args : [], titles : []}, body = {args : [], rows : []}) %}

    {# Default values of args and header args #}
    {% set args = { id : "table", class : "table-container", search : "true", clickable_row : "true", export : "true", "post_name": "selected_rows", post_value: header.titles[0], "icons-prefix" : "fas", "presort_field" : "", "presort_order" : "asc"}|merge(args) %}
    {% set default_header_args = {"field" : "", "sortable" : true, type :  "text" , default : ""}|merge(header['args']) %}
    {% set row_length = max(body.rows[0]|length, header.args|length, header.titles|length)  - 1 %}
    <div class={{args.class}}>
        <table aria-label="data"
        id={{args.id}}
        data-toggle="table"
        data-height="1px"
        data-search="{{args.search}}"
        data-click-to-select="{{args.clickable_row}}"
        data-show-export="{{args.export}}"
        data-icons-prefix={{args.icons-prefix}}
        data-server-sort="false"
        data-sort-name={{args.presort-field}}
        data-sort-order={{args.presort-order}}>
            <thead>
                <tr>
    {% for i in range(0, row_length) %}
                    {% set title = header.titles[i]%}
                    {% set row_args = default_header_args|merge(header.args[i]) %}
                    <th data-field="{{row_args.field|default(title|replace({' ': '_'}))}}" data-radio="{{row_args.type == "radio"}}" data-checkbox="{{row_args.type == "checkbox"}}" data-sortable="{{row_args.sortable}}">{{title|capitalize}}</th>
    {% endfor %}
                </tr>
            </thead>
            <tbody>
    {% for row in body.rows %}
                    <tr>
        {% for cell in row %}
                        <td>
                            {{cell|default(header.args[loop.index0].default|default(default_header_args.default))}}
                        </td>
        {% endfor %}
                    </tr>
    {% endfor %}
            </tbody>
        </table>
    </div>
    <input id="table_input" type="hidden" name="{{args.post_name}}" value=''>
    <script>
        $('form').on("submit", function() {
            selection = window[table + '_getMassiveActionSelection']();
            selection.forEach(array => {
            Object.keys(array).forEach(key => {
                    if (key.includes("_data")) {
                        delete array[key];
                    }
                })
            });
            $('#table_input').val(JSON.stringify(selection));
        });
    </script>
{% endmacro table %}

{% macro hidden(args = {field_name : "", options : []}) %}
    {% for key,value in options['value'] %}
        <input type="hidden" name="{{field_name}}[{{key}}]" "{{options|filter(key,value => key != 'value')|join(' ')}}"/>
    {% endfor %}
{% endmacro hidden %}
