<div class="modal-header ">
	<h1 class="modal-title fs-5" id="exampleModalLabel">{{"actions"|trans}}</h1>
    <select aria-label="Action Select" id="action-select">
        {% for key, action in actions %}
            <option value="{{ action }}" onclick="populateSubForm('{{ key }}')">{{ action }}</option>
        {% endfor %}
    </select>
	<button type="button" class="btn-close mx-1" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body text-center" id="v-pills-tabContent">
</div>
<div class="modal-footer">
	<button type="button" aria-label='Save' class="btn btn-primary">{{"save"|trans}}</button>
</div>

<script>
	function populateSubForm(action) {
    body = JSON.parse('{{ subformBody|json_encode()|raw }}');
    body["action"] = action;
    body["container"] = "v-pills-tabContent"; 
    $.ajax({
        url: '../ajax/dropdownMassiveAction.php',
        type: 'POST',
        data: body,
        success: function (data) {
            $('#v-pills-tabContent').html(data);
        }
    })
}
</script>
