<div class="table-container">
    <div id="toolbar">
        <a
            id="massiveaction_button"
            class="btn btn-secondary"
            onClick="massiveaction_window.dialog('open')"
            href="#modal_massaction_content"
            title="Action"
            ><i class="fas fa-hammer text-white"></i></a>
    </div>
    <table
        class="table table-striped table-bordered table-hover"
        data-toolbar="#toolbar"
        data-toggle="table"
        data-height="460"
        data-click-to-select="true"
        data-virtual-scroll="true"
        data-pagination="true"
        show-extended-pagination="true"
        data-search="true"
        data-sortable="true"
        data-show-export="true"
        data-buttons="buttons"
        >
        <thead class="table-light">
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                {% for field in fields %}
                    <th data-sortable="true">{{ field['name'] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for value in values %}
            <tr>
                <td></td>
                {% for col in fields|keys %}
                <td>{{ value[col + 1] | raw }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
</table>
</div>

<script>
function buttons () {
    buttons = {
        btnAsMap: {
            text: 'Show as map',
            icon: 'fa-globe-europe',
            event: function () {
                console.log(JSON.stringify(this.getSelections()));
            },
            attributes: {
                title: {{'Show list as map'|trans|json_encode|raw}},
            },
        },
        btnshowTrash: {
            text: 'Show trash',
            icon: 'fa-trash-alt',
            event: function () {
                toogle('is_deleted','','','');
                document.forms['searchform{{itemtype}}'].submit();
            },
            attributes: {
                title: {{'Show trash content'|trans|json_encode|raw}},

                style: {{(is_trash == 1) ? 'background : #7b081d'|json_encode|raw : ''|json_encode|raw}},
            }
        },
    }
    if ('{{searchConfigRights}}' === '1') {
        buttons.btnEditColumns = {
            text: 'Edit columns',
            icon: 'fa-wrench',
            event: function () {
                $('#search-config').dialog("open");
            },
            attributes: {
                title: {{'Edit columns position and content'|trans|json_encode|raw}},
            }
        }
    }
    console.log(buttons);
    return buttons;
}
</script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>