<link rel="stylesheet" type="text/css" href="/~antoine/itsm-ng2.0/vendor/wenzhixin/bootstrap-table/dist/bootstrap-table.min.css?v=9.5.13" media="all">
<div class="table-container">
	<div
		id="toolbar">
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-secondary" onclick="populateModal()">
			<i class="fas fa-hammer text-white"></i>
		</button>
		<!-- Modal -->
		<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					{{action_modalcontent|raw}}
				</div>
			</div>
		</div>
	</div>
	<table
		id="search-table"
		class="table table-striped table-bordered table-hover"
		data-toolbar="#toolbar"
		data-virtual-scroll="true"
		data-toggle="table"
		data-click-to-select="true"
		data-pagination="true"
		show-extended-pagination="true"
		data-search="true"
		data-sortable="true"
		data-show-export="true"
		data-buttons="buttons"
		style="box-sizing: border-box">
		<thead class="table-light">
			<tr>
				<th data-field="state" data-checkbox="true"></th>
				<th class="d-none"></th>
				<th class="d-none"></th>
				{% for field in fields %}
					<th data-sortable="true">{{ field['name'] }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for key, value in values %}
				<tr>
					<td></td>
					<td data-title='id'>{{key}}</td>
					<td >{{value[0]}}</td>
					{% for col in fields|keys %}
						<td>{{ value[col + 1] | raw }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script>
	function populateModal() {
    	massiveaction_window.dialog('open');
	}

	function buttons() {
		buttons = {
			btnAsMap: {
				text: 'Show as map',
				icon: 'fas fa-globe-europe',
				event: function () {
				},
				attributes: {
					title: {{ 'Show list as map'|trans|json_encode|raw }}
				}
			},
			btnshowTrash: {
				text: 'Show trash',
				icon: 'fas fa-trash-alt',
				event: function () {
				toogle('is_deleted', '', '', '');
				document.forms['searchform    {{ itemtype }}'].submit();
				},
				attributes: {
				title: {{ 'Show trash content'|trans|json_encode|raw }},

				style: {{ (is_trash == 1) ? 'background : #7b081d'|json_encode|raw : ''|json_encode|raw }}
				}
			}
		}
		if ('{{ searchConfigRights }}' === '1') {
			buttons.btnEditColumns = {
				text: 'Edit columns',
				icon: 'fas fa-wrench',
				event: function () {
					$('#search-config').dialog("open");
				},
				attributes: {
					title: {{ 'Edit columns position and content'|trans|json_encode|raw }}
				}
			}
		}
		return buttons;
}
</script>
<script type="text/javascript" src="/~antoine/itsm-ng2.0/vendor/wenzhixin/bootstrap-table/dist/bootstrap-table.min.js?v=9.5.13"></script>
