<div class="table-container">
	<div
		id="toolbar">
		<!-- Button trigger modal -->
		<button type="button" class="btn btn-secondary" onclick="populateModal()">
			<i class="fas fa-hammer text-white"></i>
		</button>
		<!-- Modal -->
		<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					{{action_modalcontent|raw}}
				</div>
			</div>
		</div>
	</div>
	<table
		id="search-table"
		class="table table-striped table-bordered table-hover"
		data-toolbar="#toolbar"
		data-virtual-scroll="true"
		data-toggle="table"
		data-click-to-select="true"
		data-pagination="true"
		show-extended-pagination="true"
		data-search="true"
		data-sortable="true"
		data-show-export="true"
		data-buttons="buttons"
		data-show-columns="true"
		data-icons="icons"
		data-show-columns-toggle-all="true"
		>
		<thead class="table-{{ (is_trash == 1) ? 'primary' : 'light' }}">
			<tr>
				<th data-field="state" data-checkbox="true"></th>
				<th class="d-none"></th>
				<th class="d-none"></th>
				{% for field in fields %}
					<th data-sortable="true">{{ field['name'] }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody class="table-{{ (is_trash == 1) ? 'primary' : 'light' }}">
			{% for key, value in values %}
				<tr>
					<td></td>
					<td data-title='id'>{{key}}</td>
					<td >{{value[0]}}</td>
					{% for col in fields|keys %}
						<td>{{ value[col + 1] | raw }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script>
	window.icons = {
		columns: 'fas fa-columns',
		export: 'fas fa-file-export',
	}

	function populateModal() {
    	massiveaction_window.dialog('open');
	}

	function buttons() {
		buttons = {
			btnshowTrash: {
				text: 'Show trash',
				icon: 'fas fa-trash-alt',
				event: function () {
				toogle('is_deleted', '', '', '');
				document.forms['searchform{{ itemtype }}'].submit();
				},
				attributes: {
					title: {{ 'Show trash content'|trans|json_encode|raw }},
					style: {{ (is_trash == 1) ? 'background : #7b081d'|json_encode|raw : ''|json_encode|raw }}
				}
			}
		}
		return buttons;
}
</script>