<script src="{{root_doc}}/vendor/wenzhixin/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="{{root_doc}}/vendor/wenzhixin/bootstrap-table/dist/extensions/export/bootstrap-table-export.min.js"></script>
<link rel="stylesheet" href="{{root_doc}}/vendor/wenzhixin/bootstrap-table/dist/bootstrap-table.min.css">
<div class="table-container">
	{% if not id %}
		{% set id = 'table' ~ random() %}
	{% endif %}
	{% set rand=random() %}
	{% if not minimal %}
	<div
		id="toolbar{{rand}}">
		{% if massive_action is defined %}
		<button type="button" class="btn btn-secondary" onclick="populateModal{{rand}}()">
			<i class="fas fa-hammer text-white"></i>
		</button>
		{% endif %}
	</div>
	{% endif %}
	<table
		id="{{id}}"
		class="table table-striped table-bordered table-hover"
		data-virtual-scroll="true"
		{% if not minimal %}
			data-toolbar="#toolbar{{rand}}"
			data-show-columns-toggle-all="true"
			data-click-to-select="true"
			data-pagination="true"
			show-extended-pagination="true"
			data-search="true"
			data-sortable="true"
			data-show-export="true"
			data-show-columns="true"
			data-icons="icons"
		{% endif %}
		{% if is_trash is defined %} data-buttons="buttons{{rand}}" {% endif %}
		>
		<thead class="table-light">
			<tr>
				{% if massive_action is defined %}
					<th data-field="state" data-checkbox="true"></th>
				{% endif %}
				{% for field in fields %}
					<th data-sortable="true">{{ field|raw }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody class="table-{{ (is_trash == 1) ? 'primary' : 'light' }}">
			{% for key, value in values %}
				<tr 
				{% if massive_action is defined %}
					data-id="{{key}}" data-value='{{massive_action[key]}}'
				{% endif %}>
					{% if massive_action is defined %}
						<td></td>
					{% endif %}
					{% for col in fields|keys %}
						<td>{{ value[col] | raw }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script>
	window.icons = {
		columns: 'fas fa-columns',
		export: 'fas fa-file-export',
	}

	$('#{{id}}').bootstrapTable();

	{% if not minimal %}
		function populateModal{{rand}}() {
			massiveaction_window{{id}}.dialog('open');
		}


		{% if is_trash is defined %}
			function buttons{{rand}}() {
				buttons = {
					btnshowTrash: {
						text: 'Show trash',
						icon: 'fas fa-trash-alt',
						event: function () {
							toogle('is_deleted', '', '', '');
							document.forms['searchform{{ itemtype }}'].submit();
						},
						attributes: {
							title: {{ 'Show trash content'|trans|json_encode|raw }},
							style: {{ (is_trash == 1) ? 'background : #7b081d'|json_encode|raw : ''|json_encode|raw }}
						}
					}
				}
				return buttons;
			}
		{% endif %}
	{% endif %}
</script>