{% if not id %}
  {% set id = 'table' ~ random() %}
{% endif %}
{% set rand = random() %}
<div class="bootstrap-table bootstrap5" id="{{ id }}"></div>
{% if radio is defined and radio %}
<input id="table_input{{ id }}" type="hidden" name="{{ radio }}" value=''>
{% endif %}

<script>
window.ITSMTableQueue = window.ITSMTableQueue || [];
window.ITSMTableQueue.push({
    id: {{ id|json_encode|raw }},
    rand: {{ rand|json_encode|raw }},
    fields: [
        {% for key, value in fields %}
            [{{ key|json_encode|raw }}, {{ value|json_encode|raw }}],
        {% endfor %}
    ],
    values: {{ url ? '[]' : values|json_encode|raw }},
    massiveAction: {{ massive_action is defined ? massive_action|json_encode|raw : "[]" }},
    radio: {{ radio is defined and radio ? 'true' : 'false' }},
    columnEdit: {{ column_edit is defined ? (column_edit ? "true" : "false") : "false" }},
    minimal: {{ minimal is defined ? (minimal ? "true" : "false") : "false" }},
    isTrash: {{ is_trash is defined ? (is_trash ? "true" : "false") : "false" }},
    canTrash: {{ can_trash is defined ? (can_trash ? "true" : "false") : "false" }},
    noToolBar: {{ noToolBar is defined ? (noToolBar ? "true" : "false") : "false" }},
    url: {{ url is defined ? url|json_encode|raw : "null" }},
    itemtype: {{ itemtype is defined ? itemtype|json_encode|raw : "''" }},
    showExport: {{ show_export is defined ? (show_export ? "true" : "false") : "true" }},
    hasMassiveAction: {{ massive_action is defined ? 'true' : 'false' }},
    pageSize: {{ pageSize is defined ? pageSize : 15 }}
});
</script>
