<div class="table-container">
	{% set rand=random() %}
	<div
		id="toolbar{{rand}}">
		{% if massive_action is defined %}
		<button type="button" class="btn btn-secondary" onclick="populateModal{{rand}}()">
			<i class="fas fa-hammer text-white"></i>
		</button>
		{% endif %}
	</div>
	<table
		id="{{id}}"
		class="table table-striped table-bordered table-hover"
		data-toolbar="#toolbar{{rand}}"
		data-virtual-scroll="true"
		data-toggle="table"
		data-show-columns-toggle-all="true"
		data-click-to-select="true"
		data-pagination="true"
		show-extended-pagination="true"
		data-search="true"
		data-sortable="true"
		data-show-export="true"
		data-show-columns="true"
		data-icons="icons"
		{% if is_trash is defined %} data-buttons="buttons{{rand}}" {% endif %}
		>
		<thead class="table-light">
			<tr>
				{% if massive_action is defined %}
					<th data-field="state" data-checkbox="true"></th>
				{% endif %}
				{% for field in fields %}
					<th data-sortable="true">{{ field|raw }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody class="table-{{ (is_trash == 1) ? 'primary' : 'light' }}">
			{% for key, value in values %}
				<tr 
				{% if massive_action is defined %}
					data-id="{{key}}" data-value='{{massive_action[key]}}'
				{% endif %}>
					{% if massive_action is defined %}
						<td></td>
					{% endif %}
					{% for col in fields|keys %}
						<td>{{ value[col] | raw }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script>
	window.icons = {
		columns: 'fas fa-columns',
		export: 'fas fa-file-export',
	}

	function populateModal{{rand}}() {
    	massiveaction_window{{id}}.dialog('open');
	}


	{% if is_trash is defined %}
		function buttons{{rand}}() {
			buttons = {
				btnshowTrash: {
					text: 'Show trash',
					icon: 'fas fa-trash-alt',
					event: function () {
						toogle('is_deleted', '', '', '');
						document.forms['searchform{{ itemtype }}'].submit();
					},
					attributes: {
						title: {{ 'Show trash content'|trans|json_encode|raw }},
						style: {{ (is_trash == 1) ? 'background : #7b081d'|json_encode|raw : ''|json_encode|raw }}
					}
				}
			}
			return buttons;
		}
	{% endif %}
</script>