{% macro imageUpload(attributes, root_doc) %}
  {% set rand=random() %}
  <div class="input-group">
    <input class='form-control h-100' type="file" {% for name, value in attributes|filter((v, k) => k != 'values') %} {{name}}="{{value}}" {% endfor %}/>
    <input type="checkbox" class="btn-check" name="_blank_{{attributes.name}}" value="1" id="clearPictureFor{{attributes.name}}"/>
    <label class="btn btn-outline-danger" for="clearPictureFor{{attributes.name}}">{{"Clear"|trans}}</label>
  </div>
  {% if attributes.value %}
    <img class="img-thumbnail" src="{{root_doc}}{{ attributes.external ? '' : '/front/document.send.php?file=' }}{{attributes.value}}" alt="Preview of {{attributes.name}}"></img>
  {% endif %}
  <script>
    $('#{{attributes.id}}').on('change', function() {
      let formData = new FormData();
      formData.append('name', 'filename');
      formData.append('showFileSize', $('#{{attributes.id}}').prop('files').length);
      for (let i = 0; i < $('#{{attributes.id}}').prop('files').length; i++) {
          formData.append(i, $('#{{attributes.id}}').prop('files')[i]);
      }
      $.ajax({
        url: '{{root_doc}}' + '/ajax/fileupload.php',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(data) {
        // add an hidden input containing the data for all files
            if ($('#hiddenInputForFiles').length == 0) {
                $('#{{attributes.id}}').after('<input type="hidden" id="hiddenInputForFiles{{rand}}" name="{{attributes.name}}" value="">');
            }
            $('#hiddenInputForFiles{{rand}}').val(data);
        }
      });
    })
  </script>
{% endmacro %}
{{ _self.imageUpload(attributes, root_doc) }}
