{% macro password(attributes) %}
    {% set rand=random() %}
    <input class='form-control' id="{{attributes.id|default(rand)}}"
      {% for name, value in attributes|filter((v,k)=>k != 'canSee') %} {{name}}="{{value}}" {% endfor %}/>
    {% if attributes.canSee|default(false)%}
      <button type='button' class="btn border" aria-label="Check Password" onclick="checkPassword({{attributes.id|default(rand)}})"><i class='fas fa-eye'></i></button>
      <script>
      function checkPassword(id) {
        const type = $(`#${id}`).attr('type');
        if (type == 'text') {
          $(`#${id}`).attr('type', 'password')
        } else {
          $(`#${id}`).attr('type', 'text')
        }
      }
      </script>
    {% endif %}
{% endmacro %}
{{ _self.password(attributes) }}
