{% macro select(attributes) %}
  {% if not attributes.id %}
    {% set id = random() %}
  {% endif %}
  <select class='form-select {{attributes.class}}'
    {% if not attributes.id %}
      id="{{id}}"
    {% endif %}
    {% for name, value in attributes %}
      {% if name not in  ['values', 'class']%}
        {{name}}="{{value}}"
      {% endif %}
    {% endfor %}
    {% if attributes.name is defined %}
      aria-label="{{ attributes.name }}"
    {% endif %}>
    {% for key, item in attributes.values %}
      {% if item is iterable %}
        <optgroup label="{{key}}">
          {% for key, item in item %}
            <option value="{{key}}" {% if attributes.value == key %}selected="selected"{% endif %}>{{item}}</option>
          {% endfor %}
        </optgroup>
      {% else %}
        <option value="{{key}}" {% if attributes.value == key %}selected="selected"{% endif %}>{{item}}</option>
      {% endif %}
    {% endfor %}
  </select>
  {% if noLib is not defined %}
  <script>
      $(function() {
        {% if attributes.ajax %}
            const params = {{attributes.ajax|json_encode|raw}};
            const data = params.data;
            params.dataType = 'json';
            params.delay = 250;
            params.data = function (params) {
                return {
                    searchText: params.term,
                    page: params.page || 1,
                    page_limit: 100,
                    ...data
                };
            };
        {% endif %}
          $.getScript('{{root_doc}}/node_modules/select2/dist/js/select2.min.js', function() {
                $('#{{attributes.id ? attributes.id : id}}').select2({
                    theme: 'bootstrap-5',
                    {% if attributes.ajax %}
                    ajax: params,
                    {% endif %}
                });
            });
      });

  </script>
{% endif %}
{% endmacro %}
{{ _self.select(attributes) }}
