{% macro ticketSelect(attributes, root_doc) %}
  <div {% if attributes.id %} id="{{attributes.id}}" {% endif %} class="w-100">
    <input type="hidden" name="{{attributes.name|default('')}}" value="[]">
    <div class="input-group m-0">
      <select aria-label="Ticket Relation Selector" class="form-select" id="TicketRelationSelector_{{rand}}" name="_link[link]">
        {% for value, name in attributes.relations %}
          <option value="{{value}}">{{name|raw}}
        {% endfor %}
      </select>
      <input type="hidden" name="_link[tickets_id_1]" value="{{attributes.ticket_id}}">
      {% include 'macros/inputs/select.twig' with {
          attributes: {
              'name': '_link[tickets_id_2]',
              'id': 'TicketSelector_' ~ rand,
              'ajax': {
                  'url': root_doc ~ '/ajax/getDropdownValue.php',
                  'type': 'POST',
                  'data': {
                      'itemtype': 'Ticket',
                      'display_emptychoice': true,
                      'entity_restrict': currentEntity,
                      'recursive': currentRecursive,
                      'used': attributes.used ?? [],
                  },
              },
              'arial-label': 'Ticket Selector'|trans
          }
      } only %}
    </div>
    <table id="ObjectTable_{{rand}}" class="w-100 fs-6 table table-sm table-hover align-middle text-center">
      <tbody>
        {% for object in attributes.values %}
            <tr data-id="{{object.tickets_id}}" data-type="{{object.link}}">
              <td>
                {{ attributes.relations[object.link] }}
              </td>
              <td> {{object.url|raw}} </td>
              <td class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-sm btn-outline-danger" aria-label="Remove Object" onClick="removeObject{{rand}}('{{object.link}}', '{{object.tickets_id}}')">
                  <i class="fas fa-times"></i>
                </button>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <script>

  function removeObject{{rand}}(type, id) {
    $.ajax({
      url: "{{root_doc}}/ajax/deleteItilActor.php",
      type: "POST",
      data: {
        linkId: 'ticket',
        objectTypeId: $('#TicketRelationSelector_{{rand}}').val(),
        objectId: id,
        ticketId: '{{attributes.ticket_id}}',
      },
    })
    $(`#ObjectTable_{{rand}} tr[data-id='${id}'][data-type='${type}']`).remove();
  }

  $(document).ready(() => {
    // add all already present actors
    let letJsonSelection = '';
    let selection = '';
    let newSelection = '';
    {% for actor in attributes.values %}
      letJsonSelection = $('input[name="{{attributes.name|default('')}}"]').val();
      selection = JSON.parse(letJsonSelection);
      newSelection = [...selection, {type: '{{actor.type}}', id: '{{actor.id}}'}];
      $('input[name="{{attributes.name|default('')}}"]').val(JSON.stringify(newSelection));
    {% endfor %}
  })
  </script>
{% endmacro %}
{{ _self.ticketSelect(attributes, root_doc) }}
