{% from 'macros/collapseChecklist.twig' import collapseChecklist %}
<div class="modal modal-lg fade" id="widgetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<form action="{{addWidget_action}}" method="get" class="text-center">
			<div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{"New widget"|trans}}</h1>
                <div>
                    <button type="submit" class="btn btn-primary">{{"Add widget"|trans}}</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">{{"Close"|trans}}</button>
                </div>
			</div>
			<div class="modal-body row">
                <div id="data-selection-widget-modal" class="col-12 col-lg-4 accordion accordion-flush">
                    {% for key, data in dataGroups %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{key|slug}}"
                                aria-expanded="false" aria-controls="flush-collapseOne"
								onclick="selectStatType('{{key}}')"
								>
                                {{key|raw}}
                            </button>
                        </h2>
                        <div id="flush-collapse-{{key|slug}}" class="accordion-collapse collapse"
                            data-bs-parent="#data-selection-widget-modal">
                            <div class="accordion-body text-start">
                                {{collapseChecklist(data)|raw}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
					<input type='hidden' name="statType" value=""/>
					<input type='hidden' name="statSelection" id="stateSelectionInput" value="{}"/>
                </div>

                <div class="col-12 col-lg-8 d-flex flex-column p-0">
                    {% include "dashboard/dashboardParams.twig" %}
                    <div id="preview-graph-widget-modal" style="height: 15rem">
                    </div>
                </div>
			</div>
            <input type="hidden" name="id" value="{{dashboardId}}"/>
            <input type="hidden" name="coords" value="[-1, -1]"/>
            <input type="hidden" name="update" value="update"/>
		</form>
    </div>
  </div>
</div>
<script>
	$(document).ready(function() {
		$('#widgetModal').insertAfter($('body'));
		for (select of ['#assetSelect']) {
			var select_box_element = document.querySelector(select);
			dselect(select_box_element, {
				search: true
			});
		}
	});

	function openWidgetModal(coords) {
		$('#widgetModal input[name="coords"]').val(JSON.stringify(coords));
		$("#widgetModal").modal("show");
	}

	function toggleEdit() {
		// toggle display of all edit button
		var editButtons = document.getElementsByClassName("editButton");
		for (var i = 0; i < editButtons.length; i++) {
			editButtons[i].style.display = editButtons[i].style.display == "none" ? "block" : "none";
		}
	}

	function selectStatType(statType) {
		$('#widgetModal input[name="statType"]').val(statType);
	}

	function removeWidget(x, y) {
		$.ajax({
			url: "{{ajax_endpoint}}",
			type: "POST",
			data: {
				id: "{{dashboardId}}",
				action: "delete",
				coords: JSON.stringify([x, y]),
			},
			success: function(data) {
				location.reload();
			},
			error: function(data) {
				console.log(data);
			}
		});
	}

	function getAssetColumns(event) {
		fields = [
			'string',
			'number',
			'text',
			'datetime',
			'count',
			'dropdown',
		]
		$.ajax({
			url: "{{ajaxUrl}}",
			type: "POST",
			data: {
				action: "getColumns",
				asset: event.value,
			},
			success: function(data) {
				var columns = JSON.parse(data);
				values = columns.map(function(col) {
					if (col.table && col.field && col.name && (fields.includes(col.datatype)))
						return {table: col.table, field: col.field, name: col.name};
					else
						return null;
				}).filter(val => val != null);
				$('#col1Select').empty();
				$('#col2Select').empty();
				for (value of values) {
					$('#col1Select').append($('<option>', {
						value: value.table + '_' + value.field,
						text: value.name,
					}));
					$('#col2Select').append($('<option>', {
						value: value.table + '_' + value.field,
						text: value.name,
					}));
				}
			},
			error: function(data) {
				console.log(data);
			}
		});
	}

	$("#widgetModal").on("change", function(event) {
		// update preview with {{dashboardApiUrl}}/count
		var statType = $('#widgetModal input[name="statType"]').val();
		var statSelection = $('#stateSelectionInput').val();


		$.ajax({
			url: "{{ajaxUrl}}",
			type: "POST",
			data: {
				action: "preview",
				statType,
				statSelection: statSelection
			},
			success: function(data) {
				console.log(data);
				// update preview with the raw html returned
				$('#preview-graph-widget-modal').html(data);
			},
			error: function(data) {
				console.log(data);
			}
		});
	})
</script>