<div class="modal modal-lg fade" id="widgetModal" tabindex="-1" aria-label="Add widget modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="dashboard-edit-modal">
		<form aria-label="Add Widget" action="{{addWidget_action}}" method="get" class="text-center">
			<div class="modal-header d-flex justify-content-between">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{"New widget"|trans}}</h1>
                <div>
                    <button type="button" aria-label="Add Widget" class="btn btn-primary" onclick="addWidget()">{{"Add widget"|trans}}</button>
                    <button type="button" class="btn btn-secondary" aria-label="Close" data-bs-dismiss="modal" aria-label="Close">{{"Close"|trans}}</button>
                </div>
			</div>
			<div class="modal-body row">
                <div id="data-selection-widget-modal" class="col-12 col-lg-6 accordion accordion-flush">
					{{ dataSelection|raw }}
					<div id="data-selection-search-content"></div>
                </div>

                <div class="col-12 col-lg-6 d-flex flex-column p-0" id="modal-preview-window">
                    {% include "dashboard/dashboardParams.twig" %}
                    <div id="preview-graph-widget-modal" style="height: 25rem">
                    </div>
                </div>
			</div>
            <input type="hidden" name="dashboardId" value="{{dashboardId}}"/>
            <input type="hidden" name="coords" value="[-1, -1]"/>
            <input type="hidden" name="update" value="update"/>
		</form>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{root_doc}}/src/dashboard/dashboard.js"></script>
<script>
$(function() {
    $('#widgetModal').insertAfter($('body'));
    $('#data-selection-widget-modal #data-selection-search-content form').attr('action', "#");
});

$("#data-selection-search-content").on('change', fetchPreview);
$("#parameter-selection-widget-modal-select").on('change', updatePreview);
$('#direction-selection-widget-modal-select').on('change', updatePreview);
$('#pie-format-selection-widget-modal-select').on('change', updatePreview);
$('#title-widget-modal').on('change', updatePreview);
$('#icon-widget-modal').on('change', updatePreview);
</script>
