<div id="format-selection-widget-modal" class="d-flex  p-0 m-0 row">
    {% set formats = [
        { 'value': 'count', 'icon': 'fas fa-hashtag', 'name': 'Count', 'checked': 'checked', 'params': 1 },
        { 'value': 'line', 'icon': 'fas fa-chart-line', 'name': 'Line', 'params': 2 },
        { 'value': 'bar', 'icon': 'fas fa-chart-bar', 'name': 'Bar', 'params': 2, 'direction': true },
        { 'value': 'pie', 'icon': 'fas fa-chart-pie', 'name': 'Pie', 'params': 2 },
    ] %}
    {%  for format in formats %}
        <div class="col-3 p-0 m-0" data-params='{{format.params}}' data-direction='{{format.direction ?? false}}'>
            <input type="radio"
                class="btn-check"
                name="format"
                id="format-{{format.value}}"
                autocomplete="off"
                value="{{format.value}}"
                onchange="changeType()"
                {% if format.checked %} checked {% endif %}>
            <label class="btn col-12" for="format-{{format.value}}">
                <i class="{{format.icon}} fs-2"></i>
                <p style="font-size: .8rem">{{format.name|trans}}</p>
            </label>
        </div>
    {% endfor %}
</div>

<div id="parameter-selection-widget-modal" class="px-3">
    <div class="input-group my-3">
        <label for="title-widget-modal" class="input-group-text">{{"Title"|trans}} :
        </label>
        <input type="text "name="title" id="title-widget-modal" class="form-control"/>
    </div>
    <div class="input-group my-3">
        <label for="icon-widget-modal" class="input-group-text">{{"Icon"|trans}} :
        </label>
        <input type="text "name="icon" id="icon-widget-modal" class="form-control"/>
    </div>
    <div class="input-group my-3 d-none">
        <label for="parameter-selection-widget-modal-select" class="input-group-text">{{"Order by"}}:
        </label>
        <select name="orderBy" id="parameter-selection-widget-modal-select" class="form-select"></select>
    </div>

    <div class="input-group my-3 d-none">
        <label for="direction-selection-widget-modal-select" class="input-group-text">{{"Direction"}}:
        </label>
        <select name="orderBy" id="direction-selection-widget-modal-select" class="form-select">
            <option value="vertical">{{"Vertical"|trans}}</option>
            <option value="horizontal">{{"Horizontal"|trans}}</option>
        </select>
    </div>
</div>

<script>
    function changeType() {
        let type = $('input[name="format"]:checked').val();
        let params = $('input[name="format"]:checked').parent().data('params');
        let direction = $('input[name="format"]:checked').parent().data('direction');
        let orderBy = $('#parameter-selection-widget-modal-select');
        let directionSelect = $('#direction-selection-widget-modal-select');

        if (params == 1) {
            orderBy.parent().addClass('d-none');
            directionSelect.parent().addClass('d-none');
        } else {
            orderBy.parent().removeClass('d-none');
            directionSelect.parent().removeClass('d-none');
        }

        if (direction) {
            directionSelect.parent().removeClass('d-none');
        } else {
            directionSelect.parent().addClass('d-none');
        }

        if (type == 'pie') {
            orderBy.parent().addClass('d-none');
        }

        if (type == 'bar') {
            directionSelect.parent().removeClass('d-none');
        }
    }
</script>
