<div id="ChartDonut">
    <canvas id="Donutchart" aria-label="DonutChart(Tickets by status)"></canvas>
</div>
<script>
$(document).ready(function() {
    $.ajax({
        url: '{{ root_doc }}/ajax/ticket.ajax.php',
        method: 'GET',
        dataType: 'json',
        success: function(ticketData) {
            const data = {
                labels: [
                    '{{ "New" | trans }}',
                    '{{ "Pending" | trans }}',
                    '{{ "Assigned" | trans }}',
                    '{{ "Planned" | trans }}',
                    '{{ "Solved" | trans }}',
                    '{{ "Closed" | trans }}'
                ],
                datasets: [{
                    label: 'Tickets',
                    data: ticketData,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            };

            const config = {
                type: 'doughnut',
                data: data,
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                }
            };

            const ctx = document.getElementById('Donutchart').getContext('2d');
            $.getScript('{{ root_doc }}/node_modules/chart.js/dist/chart.umd.js', function() {
                new Chart(ctx, config);
            });
        },
        error: function(xhr, status, error) {
            console.error('Erreur lors de la récupération des données des tickets:', status, error);
        }
    });
});
</script>
