{% macro number(title = '', value = 0, icon = '', color = "black") %}
	<div class="d-flex justify-content-center align-items-center">
		<i class="{{icon}} fs-1 text-{{color}}" aria-hidden="true"></i>
		<div class="ms-3 text-center">
			<div class="fw-bold text-{{color}} text-wrap">{{title|raw}}</div>
			<div class="fs-3 text-${color}">{{value}}</div>
		</div>
	</div>
{% endmacro %}
{% macro widget(widget) %}
    {% if widget.format is not defined or widget.format == 'number' %}
        {{ _self.number(widget.title, widget.value, widget.icon, widget.color) }}
    {% elseif widget.format == 'pie' %}
        {% include "dashboard/Donutchart.twig" %}
    {% elseif widget.format == 'bar' %}
        {% include "dashboard/BarChart.twig" %}
    {% elseif widget.format == 'radar' %}
        {% include "dashboard/RadarChart.twig" %}
    {% elseif widget.format == 'line' %}
        {% include "dashboard/LineChart.twig" %}
    {% endif %}
{% endmacro %}
{{ _self.widget(_context) }}
