{% from "macros.twig" import table, input %}

<ul class="dropdown-menu dropdown-menu-end" style="">
	<h6 class="dropdown-header">{{'Menu'|trans}}</h6>
	<span class="dropdown-item" href="#">{{'Menu collapse'|trans}}
		:
		{{input("", "", "checkbox", "form-check-input", "menu-collapse-toggle" ,"", "", "", menu_small ? 'true')}}</span>
	<span class="dropdown-item" href="#">{{'Compact mode UI'|trans}}
		:
		{{input("", "", "checkbox", "form-check-input", "compact-mode-toggle" ,"", "", "", (compact_mode_ui|default(false)) ? 'true')}}</span>
	<hr>
	<h6 class="dropdown-header">{{'Menu favorite'|trans}}</h6>
	<span class="dropdown-item" href="#">{{'Activate menu favorite'|trans}}
		:
		{{input("", "", "checkbox", "form-check-input", "menu-favorite-toggle","", "", "", menu_favorite_on ? 'true')}}</span>
	<span class="dropdown-item" href="#">{{'Activate favorite selection'|trans}}
		:
		{{input("", "", "checkbox", "form-check-input", "menu-favorite-selection-toggle")}}</span>
	<hr>
	<div class="d-flex flex-row">
		<h6 class="dropdown-header">{{'Menu position'|trans}}</h6>
		<select aria-label="Nav Position DropDown" class="menu-position-bouton mx-auto" id="nav-position-dropdown">
			<option value="menu-left" {{menu_position == 'menu-left' ? 'selected'}}>{{'Left'|trans}}</option>
			<option value="menu-top" {{menu_position == 'menu-top' ? 'selected'}}>{{'Up'|trans}}</option>
			<option value="menu-right" {{menu_position == 'menu-right' ? 'selected'}}>{{'Right'|trans}}</option>
		</select>
	</div>
</ul>